@model IList<Entities.Footnote.Footnote>
@using System.Net

<ul style="padding-inline-start:2ch;margin-block:0;">
    @foreach (var note in Model)
    {
        if (string.IsNullOrEmpty(note.Source))
        {
            <li>@Html.DisplayFor(_ => note.Note)</li>
        }
        else
        {
            var sourceIsLink = Uri.IsWellFormedUriString(note.Source, UriKind.Absolute);
            if (sourceIsLink)
            {
                <li>@Html.DisplayFor(_ => note.Note) <a href="@note.Source" target="_blank">[Source]</a></li>
            }
            else
            {
                <li>@Html.DisplayFor(_ => note.Note) — @Html.DisplayFor(_ => note.Source)</li>
            }
        }
    }
</ul>
