@model FootnoteViewModel
@using System.Net

@functions {
    string Debug(Entities.Footnote.Footnote footnote)
    {
        return Model.User.EmailVerbosity.HasFlag(Models.Newsletter.Verbosity.Debug) 
            ? $"{footnote.Type.GetSingleDisplayName()} - "
            : string.Empty;
    }
}

<div style="background-color:lavender;padding:1rem;margin-block:1rem;">
    <ul style="padding-inline-start:2ch;margin-block:0;">
        @foreach (var note in Model.Footnotes)
        {
            if (string.IsNullOrEmpty(note.Source))
            {
                <li>@Debug(note)@Html.DisplayFor(_ => note.Note)</li>
            }
            else
            {
                var sourceIsLink = Uri.IsWellFormedUriString(note.Source, UriKind.Absolute);
                if (sourceIsLink)
                {
                    var sourceAsLink = new Uri(note.Source, UriKind.Absolute);
                    <li>@Debug(note)@Html.DisplayFor(_ => note.Note) <a target="_blank" href="@Url.StillHereLink(Model.User.Email, Model.User.Token, note.Source)">[@sourceAsLink.Host.Replace("www.", string.Empty)]</a></li>
                }
                else
                {
                    <li>@Debug(note)@Html.DisplayFor(_ => note.Note) — @Html.DisplayFor(_ => note.Source)</li>
                }
            }
        }
    </ul>
</div>