@page
@model PrivacyModel

@{
    ViewData[ViewData_Blank.Title] = "Privacy";
    ViewData[ViewData_Blank.Description] = string.Empty;
}

<section id="privacy-policy">
    <h1 class="primary-heading">Privacy Policy</h1>

    <p>@_siteSettings.Value.Name ("us", "we", or "our") operates the <a href="@_siteSettings.Value.WebUri.AbsoluteUri">@_siteSettings.Value.WebUri.AbsoluteUri</a> website (the "Service").</p>
    <p>This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you use our Service.</p>
    <p>We will not use or share your information with anyone except as described in this Privacy Policy.</p>
    <p>We use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms of Use, accessible at <a href="@_siteSettings.Value.WebUri.AbsoluteUri">@_siteSettings.Value.WebUri.AbsoluteUri</a></p>

    <section id="information">
        <h2 class="secondary-heading">Information Collection And Use</h2 class="secondary-heading">
        <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your email address, other information ("Personal Information").</p>
    </section>

    <section id="logs">
        <h2 class="secondary-heading">Log Data</h2 class="secondary-heading">
        <p>We collect information that your browser sends whenever you visit our Service ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>
        <p>In addition, we may use third party services such as Azure Application Insights that collect, monitor and analyze this type of information in order to increase our Service's functionality. These third party service providers have their own privacy policies addressing how they use such information.</p>
    </section>

    <section id="cookies">
        <h2 class="secondary-heading">Cookies</h2 class="secondary-heading">
        <p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.</p>
        <p>We do not use "cookies" explicitly. However, we may use third-party code and libraries that use "cookies" to collect information and improve their services. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</p>
    </section>

    <section id="services">
        <h2 class="secondary-heading">Service Providers</h2 class="secondary-heading">
        <p>We may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.</p>
        <p>These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>
    </section>

    <section id="communications">
        <h2 class="secondary-heading">Communications</h2 class="secondary-heading">
        <p>We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information that may be of interest to you. You may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</p>
    </section>

    <section id="security">
        <h2 class="secondary-heading">Security</h2 class="secondary-heading">
        <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>
    </section>

    <section id="international">
        <h2 class="secondary-heading">International Transfer</h2 class="secondary-heading">
        <p>Your information, including Personal Information, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.</p>
        <p>If you are located outside the United States and choose to provide information to us, please note that we transfer the information, including Personal Information, to the United States and process it there.</p>
        <p>Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</p>
    </section>

    <section id="links">
        <h2 class="secondary-heading">Links To Other Sites</h2 class="secondary-heading">
        <p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
        <p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
    </section>

    <section id="childrens-privacy">
        <h2 class="secondary-heading">Children's Privacy</h2 class="secondary-heading">
        <p>Our Service does not address anyone under the age of 13 ("Children").</p>
        <p>We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you are aware that your Children has provided us with Personal Information, please contact us. If we become aware that we have collected Personal Information from a children under age 13 without verification of parental consent, we take steps to remove that information from our servers.</p>
    </section>

    <section id="data-retention">
        <h2 class="secondary-heading">Data Retention</h2 class="secondary-heading">
        <p>For users that register with our Service, we store the Personal Information they provide in their user profile indefinitely while their account is active. We remove the Personal Information of users from our Service after a period of account inactivity. All users can see, edit, or delete their Personal Information at any time. Website administrators may also view and edit that information.</p>
    </section>

    <section id="data-rights">
        <h2 class="secondary-heading">Data Rights</h2 class="secondary-heading">
        <p>If you have an account on this Service, you can request to receive an exported file of the personal data we hold about you, including any data you have provided to us. You can also request that we erase any personal data we hold about you. This does not include any data we are obliged to keep for administrative, legal, or security purposes.</p>
    </section>

    <section id="updates">
        <h2 class="secondary-heading">Changes To This Privacy Policy</h2 class="secondary-heading">
        <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
        <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
    </section>

    <section id="contact">
        <h2 class="secondary-heading">Contact Us</h2 class="secondary-heading">
        <p>If you have any questions about this Privacy Policy, please contact us at <a href="mailto:privacy@@@_siteSettings.Value.Domain">privacy@@@_siteSettings.Value.Domain</a>.</p>
    </section>
</section>