@inject DisplayHelper DH
@using Core.Models.Exercise

<div>
    @if (String.IsNullOrEmpty(Model.Instruction.Link))
    {
        <span title="@Model.Instruction.Name">@Model.GetDisplayName()</span>
    }
    else 
    {
        <a target="_blank" href="@Model.Instruction.Link" title="@Model.Instruction.Name">@Model.GetDisplayName()</a>
    }
    @if (Model.Instruction.Locations != null && Model.Instruction.Locations.Any())
    {
        <span>&#32;(@for (var i = 0; i < Model.Instruction.Locations.Count; i++)
        {
            var instruction = Model.Instruction.Locations[i];
            <a target="_blank" href="@instruction.Link">@instruction.Location.GetSingleDisplayName()</a>
            @if (i < (Model.Instruction.Locations.Count - 1))
            {
                <text><span>,&#32;</span></text>
            }
        })</span>
    }
</div>

@code {
    [Parameter, EditorRequired]
    [SupplyParameterFromQuery]
    public ViewModels.Newsletter.InstructionViewModel Model { get; set; } = null!;
}