@inject DisplayHelper DH
@using Core.Models.Exercise

<div style="font-size:@FontHelpers.AdjustEm(1, Model.User?.FontSizeAdjust);">
    @if (string.IsNullOrWhiteSpace(Model.Instruction.Link))
    {
        <span title="@Model.Instruction.Name">@Model.GetDisplayName()</span>
    }
    else 
    {
        <a class="allow-demo" target="_blank" href="@Model.Instruction.Link" title="@Model.Instruction.Name">@Model.GetDisplayName()</a>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public Pages.Shared.Exercise.InstructionViewModel Model { get; set; } = null!;
}