@model ViewModels.User.NextWorkoutViewModel
@using Models.Exercise
@using Models.User
@using Models.Newsletter

@if (Model.TimeUntilNextSend.HasValue)
{
    <div class="alert alert-info" role="alert">
        @if (Model.TimeUntilNextSend.Value.TotalHours <= 0)
        {
            <div>Your next workout is sending.</div>
        }
        else
        {
            <div>Your next workout will send in @Model.TimeUntilNextSend.Value.TotalHours.ToString("F1") hours.</div>
        }
        @foreach (var rotation in new NewsletterTypeGroups(Model.User.Frequency))
        {
            <br>
            if (rotation.Id == Model.NextWorkoutType.Id)
            {
                <b>@rotation.ToUserString()</b>
            }
            else
            {
                <span>@rotation.ToUserString()</span>
            }
        }
        <hr>
        <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.AdvanceSplit)" asp-route-email="@Model.User.Email" asp-route-token="@Model.Token" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="submit" value="Advance Workout Split" class="btn btn-outline-secondary" />
        </form>
    </div>
}