@model NextWorkoutViewModel
@using Core.Models.Exercise
@using Lib.ViewModels.User
@using Lib.ViewModels.Newsletter
@using Core.Models.User

@if (Model.TimeUntilNextSend.HasValue)
{
    // Match up the next 7 days with their upcoming newsletter rotation
    var dayRotations = EnumExtensions.GetSingleValues32<Days>()
        // Order days by the current day and then their weekday order.
        .OrderByDescending(day => day == Model.Today && Model.NextWorkoutSendsToday)
        .ThenBy(day => ((day - Model.Today) > 0) ? (day - Model.Today) : int.MaxValue)
        .ThenBy(day => day - Model.Today)
        .Select(day =>
        {
            if (Model.User.SendDays.HasFlag(day))
            {
                // 7 days are longer than the splits
                if (!Model.CurrentAndUpcomingRotations.MoveNext())
                {
                    Model.CurrentAndUpcomingRotations.Reset();
                    Model.CurrentAndUpcomingRotations.MoveNext();
                }

                return (day: day, rotation: Model.CurrentAndUpcomingRotations.Current.ToUserString(includeDay: false));
            } 
            else if (Model.User.IncludeMobilityWorkouts)
            {
                return (day: day, rotation: "Mobility");
            }

            return (day: day, rotation: "Rest");
        }).ToList();

    <div class="row align-items-center">
        <div class="col">
            <h5 class="mb-0">Upcoming Workouts</h5>
            <h6 class="mb-1 font-weight--normal">
                @if (Model.TimeUntilNextSend.Value.TotalHours <= 0)
                {
                    <span>Your next workout is sending</span>
                }
                else
                {
                    <span>Your next workout will send in @Model.TimeUntilNextSend.Value.TotalHours.ToString("F1") hours</span>
                }
            </h6>
        </div>
        <div class="col-auto">
            <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.AdvanceSplit)" asp-route-email="@Model.User.Email" asp-route-token="@Model.Token" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <button class="btn btn-icon" type="submit" title="Advance your workout split">
                    <img src="/images/user/advance.svg">
                </button>
            </form>
        </div>
    </div>
    <div class="alert alert-primary" role="alert">
        <ul class="m-0" style="padding-inline-start:2ch;">
            @for (var i = 0; i < dayRotations.Count; i++)
            {
                var (day, rotation) = dayRotations[i];
                <li class="small">
                    @if (i == 0)
                    {
                        <span class="font-weight--semibold">@day.GetSingleDisplayName(EnumExtensions.DisplayNameType.ShortName): @rotation</span>
                    }
                    else
                    {
                        <span>@day.GetSingleDisplayName(EnumExtensions.DisplayNameType.ShortName): @rotation</span>
                    }
                </li>
            }
        </ul>
    </div>
}