@model ViewModels.User.MonthlyMusclesViewModel
@using Models.User
@using Models.Exercise
@using Services
@using Entities.User

<div class="alert alert-info" role="alert">
    <div class="mb-3">
        <h3>Weekly Training Volume Targets (@Model.Weeks week rolling average; beta)</h3>
    </div>

    <div style="display:flex;flex-direction:column;row-gap:1ex;">
        @foreach (var muscleTarget in UserService.MuscleTargets.Keys
            .Select(mg => Model.GetMuscleTarget(mg))
            .OrderByDescending(mt => mt.End)
            .ThenByDescending(mt => mt.Start)
            .ThenBy(mt => mt.MuscleGroup.GetSingleDisplayName()))
        {
            var color = (muscleTarget.IsMinVolumeInRange, muscleTarget.IsMaxVolumeInRange) switch
            {
                // Max volume is out of range
                (_, false) => "orangered",
                // Min volume is out of range
                (false, _) => "darkorange",
                // Volume is in range
                _ => "lightgreen",
            };

            <div style="display:flex;column-gap:1ch;flex-wrap:wrap;">
                <div style="display:flex;width:14ch;margin-bottom:-.5ex;">@muscleTarget.MuscleGroup.GetSingleDisplayName()</div>

                <div style="display:flex;gap:1ch;align-items:center;flex:1 0 275px;">
                    <div style="display:flex;justify-content:space-between;">
                        <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.ResetMuscleRanges)" asp-route-email="@Model.User.Email" asp-route-token="@Model.Token" asp-route-muscleGroup="@muscleTarget.MuscleGroup" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <button class="btn btn-icon" type="submit">
                                <img src="/images/user/restore-filled.svg">
                            </button>
                        </form>
                        @if (muscleTarget.ShowButtons && muscleTarget.UserMuscleTarget.Start.Value > 0)
                        {
                            <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.DecreaseStartMuscleRange)" asp-route-email="@Model.User.Email" asp-route-token="@Model.Token" asp-route-muscleGroup="@muscleTarget.MuscleGroup" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <button class="btn btn-icon" type="submit">
                                    <img src="/images/user/minus.svg">
                                </button>
                            </form>
                        }
                        else
                        {
                            <div class="btn-icon"></div>
                        }
                        @if (muscleTarget.ShowButtons && muscleTarget.UserMuscleTarget.Start.Value < Model.MaxRangeValue - UserService.IncrementMuscleTargetBy && muscleTarget.UserMuscleTarget.Start.Value < muscleTarget.UserMuscleTarget.End.Value - UserService.IncrementMuscleTargetBy)
                        {
                            <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.IncreaseStartMuscleRange)" asp-route-email="@Model.User.Email" asp-route-token="@Model.Token" asp-route-muscleGroup="@muscleTarget.MuscleGroup" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <button class="btn btn-icon" type="submit">
                                    <img src="/images/user/add.svg">
                                </button>
                            </form>
                        }
                        else
                        {
                            <div class="btn-icon"></div>
                        }
                    </div>
                    <div style="width:100%;position:relative;display:flex;">
                        <div style="position:absolute;bottom:-2px;height:2px;width:100%;background-color:@color;"></div>

                        @* User's muscle target *@
                        <div style="position:absolute;bottom:calc(-.5ex - 1px);height:1ex;width:100%;background:linear-gradient(90deg, transparent @muscleTarget.Start%, lightgreen @muscleTarget.Start% @muscleTarget.End%, transparent @muscleTarget.End%);"></div>
                        
                        @* Default muscle target *@
                        <div style="position:absolute;bottom:calc(-.5ex - 1px);height:1ex;width:100%;background:linear-gradient(90deg, transparent @muscleTarget.DefaultStart%, rgba(0,0,0,.1) @muscleTarget.DefaultStart% @muscleTarget.DefaultEnd%, transparent @muscleTarget.DefaultEnd%);"></div>

                        @* Actual muscle volume *@
                        <div style="position:absolute;bottom:.5ex;left:calc(@muscleTarget.ValueInRange% - 1ch);width:2ch;text-align:center;font-size:xx-small;line-height:1;color:@color;">
                            &#9660;
                        </div>
                    </div>
                    <div style="display:flex;justify-content:space-between;">
                        @if (muscleTarget.ShowButtons && muscleTarget.UserMuscleTarget.End.Value > UserService.IncrementMuscleTargetBy && muscleTarget.UserMuscleTarget.End.Value > muscleTarget.UserMuscleTarget.Start.Value + UserService.IncrementMuscleTargetBy)
                        {
                            <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.DecreaseEndMuscleRange)" asp-route-email="@Model.User.Email" asp-route-token="@Model.Token" asp-route-muscleGroup="@muscleTarget.MuscleGroup" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <button class="btn btn-icon" type="submit">
                                    <img src="/images/user/minus.svg">
                                </button>
                            </form>
                        }
                        else
                        {
                            <div class="btn-icon"></div>
                        }
                        @if (muscleTarget.ShowButtons && muscleTarget.UserMuscleTarget.End.Value < Model.MaxRangeValue)
                        {
                            <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.IncreaseEndMuscleRange)" asp-route-email="@Model.User.Email" asp-route-token="@Model.Token" asp-route-muscleGroup="@muscleTarget.MuscleGroup" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <button class="btn btn-icon" type="submit">
                                    <img src="/images/user/add.svg">
                                </button>
                            </form>
                        }
                        else
                        {
                            <div class="btn-icon"></div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <hr>
    <small>Too much training volume per week can lead to joint pain and overuse injuries. Too little training volume per week may not result in any noticeable strength gain. Beginner lifters should skew towards the lower end of the range. Only muscle groups that are targeted by your current workout split are able to be adjusted.</small>
    <hr>
    <small>Workouts are being automatically adjusted to try and hit your muscle targets.</small>
</div>
