@model ViewModels.Newsletter.ExerciseViewModel
@using Microsoft.AspNetCore.Http.Extensions
@using Models.Exercise
@using Models.Newsletter

@{ 
    bool deloadWeek = (bool)(ViewData[ViewData_Newsletter.NeedsDeload] ?? false);

    var borderColor = Model.Theme switch
    {
        ExerciseTheme.Warmup => "palevioletred",
        ExerciseTheme.Main => "mediumpurple",
        ExerciseTheme.Cooldown => "lightskyblue",
        ExerciseTheme.Extra => "lightgreen",
        ExerciseTheme.Other => "lightsalmon",
        _ => "currentColor"
    };

    var backgroundColor = Model.Theme switch
    {
        ExerciseTheme.Warmup => "rgba(250,200,200,.1)",
        ExerciseTheme.Main => "rgba(250,200,250,.1)",
        ExerciseTheme.Cooldown => "rgba(200,200,250,.1)",
        ExerciseTheme.Extra => "rgba(200,250,200,.1)",
        ExerciseTheme.Other => "rgba(250,200,150,.1)",
        _ => "transparent"
    };
}

<div style="flex:1 0 200px;padding:10px;position:relative;display:flex;flex-direction:column;justify-content:space-between;
            border-bottom:4px @(Model.Verbosity.HasFlag(Verbosity.Normal) ? "solid" : "none");border-image-slice:1;outline:1px solid @borderColor;background-color:@backgroundColor;
            border-image-source:linear-gradient(90deg, transparent @(Model.ExerciseVariation.Progression.Min ?? 0)%, @borderColor @(Model.ExerciseVariation.Progression.Min ?? 0)% @(Model.ExerciseVariation.Progression.Max ?? 100)%, transparent @(Model.ExerciseVariation.Progression.Max ?? 100)%);">
    
    @* Don't allow them to ignore variations when a deload week is happening.
       Check min and max progression ranges so they don't ignore an exercise outside of their progression range. *@
    @if (Model.User != null && !Model.Demo && !deloadWeek && Model.UserMaxProgressionInRange && Model.UserMinProgressionInRange)
    {
        <small style="position:absolute;right:0;top:0;padding-inline:2ex;writing-mode:vertical-lr;">
            <a href="@Url.StillHereLink(Model.User!.Email, Model.User.Token, Url.ActionLink(nameof(UserController.IgnoreVariation), UserController.Name, new { Model.User.Email, Model.User.Token, ExerciseId = Model.Exercise.Id, VariationId = Model.Variation.Id }))">Manage</a>
        </small>
    }
            
    <div>
        <h3 style="margin-block:0;padding-inline-end:1ch">
            @if (Model.Variation.UseCaution)
            {
                @:&#9888;
            }
            @if (String.IsNullOrEmpty(Model.Variation.DefaultInstruction?.Link))
            {
                <span style="text-decoration:underline;">@(Model.Variation.Name ?? Model.Exercise.Name)</span>
            }
            else 
            {
                <a target="_blank" href="@(Model.User != null ? Url.StillHereLink(Model.User.Email, Model.User.Token, Model.Variation.DefaultInstruction.Link) : Model.Variation.DefaultInstruction.Link)">
                    @(Model.Variation.Name ?? Model.Exercise.Name)
                </a>
            }
        </h3>

        @if (Model.Variation.Instructions.Any())
        {
            <ul style="margin-block:1ex;padding-inline-start:2ch;">
                @foreach (var instruction in Model.Variation.Instructions
                    // Only show the optional equipment groups that the user owns the equipment of
                    .Where(eg => Model.User == null 
                        || (
                            // User owns the equipment of the root instruction
                            Model.User.EquipmentIds.Intersect(eg.Equipment.Select(e => e.Id)).Any() 
                            // And the root instruction can be done on its own, or the user owns the equipment of the child instructions
                            && (eg.Link != null || eg.Children.Any(ceg => ceg.Equipment.Any(e => Model.User.EquipmentIds.Contains(e.Id))))
                        )
                    )
                    .OrderByDescending(eg => eg.Children.Any())
                    // Keep the order consistent across newsletters
                    .ThenBy(eg => eg.Id)) 
                {
                    <li style="line-height:1.1;list-style-type:@(instruction.Children.Any() ? "circle" : "disc")">
                        <small><partial name="Exercise/_Instruction" model="new InstructionViewModel(instruction, Model.User)" /></small>
                        @if (instruction.Children.Any())
                        {
                            <ul style="margin-block:0;padding-inline-start:2ch;">
                                @foreach (var childInstruction in instruction.Children
                                    // Only show the optional equipment groups that the user owns equipment out of
                                    .Where(eg => Model.User == null || Model.User.EquipmentIds.Intersect(eg.Equipment.Select(e => e.Id)).Any())
                                    // Keep the order consistent across newsletters
                                    .OrderBy(eg => eg.Id))
                                {
                                    <li style="line-height:1;list-style-type:disc">
                                        <small><partial name="Exercise/_Instruction" model="new InstructionViewModel(childInstruction, Model.User)" /></small>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        }

        <div style="margin-block:1ex;">
            @Html.DisplayFor(m => Model.Proficiencies)
        </div>

        @if (Model.Verbosity.HasFlag(Verbosity.Detailed) && Model.Variation.StrengthMuscles != MuscleGroups.None) 
        {
            <div style="margin-block:1ex;font-size:x-small;"><b>Strength</b>: @Model.Variation.StrengthMuscles.GetDisplayName32(EnumExtensions.DisplayNameType.ShortName)</div>
        }

        @if (Model.Verbosity.HasFlag(Verbosity.Detailed) && Model.Variation.StretchMuscles != MuscleGroups.None)
        {
            <div style="margin-block:1ex;font-size:x-small;"><b>Stretch</b>: @Model.Variation.StretchMuscles.GetDisplayName32(EnumExtensions.DisplayNameType.ShortName)</div>
        }

        @if (Model.Verbosity.HasFlag(Verbosity.Diagnostic) && Model.Variation.StabilityMuscles != MuscleGroups.None)
        {
            <div style="margin-block:1ex;font-size:x-small;"><b>Stability</b>: @Model.Variation.StabilityMuscles.GetDisplayName32(EnumExtensions.DisplayNameType.ShortName)</div>
        }

        @if (Model.Verbosity.HasFlag(Verbosity.Debug))
        {
            <div style="margin-block:1ex;font-size:x-small;color:darkred"><b>Unused</b>: @MuscleGroups.All.UnsetFlag32(Model.Variation.AllMuscles).GetDisplayName32(EnumExtensions.DisplayNameType.ShortName)</div>

            <div style="margin-block:1ex;">
                <div style="margin-block:.1ex;">
                    <small><b>Exercise Type</b> - @Model.ExerciseVariation.ExerciseType.GetDisplayName32(EnumExtensions.DisplayNameType.ShortName)</small>
                </div>

                <div style="margin-block:.1ex;">
                    <small><b>Muscle Contractions</b> - @Model.Variation.MuscleContractions.GetDisplayName32(EnumExtensions.DisplayNameType.GroupName)</small>
                </div>

                <div style="margin-block:.1ex;">
                    <small><b>Muscle Movement</b> - @Model.Variation.MuscleMovement.GetDisplayName32(EnumExtensions.DisplayNameType.ShortName)</small>
                </div>

                <div style="margin-block:.1ex;">
                    <small><b>Movement Pattern</b> - @Model.Variation.MovementPattern.GetDisplayName32(EnumExtensions.DisplayNameType.ShortName, includeAnyMatching: true)</small>
                </div>

                <div style="margin-block:.1ex;">
                    <small><b>Anti-Gravity</b> - @(Model.Variation.AntiGravity)</small>
                </div>

                <div style="margin-block:.1ex;">
                    <small><b>Is Weighted</b> - @Model.Variation.IsWeighted</small>
                </div>

                <div style="margin-block:.1ex;">
                    <small><b>Is Unilateral</b> - @Model.Variation.Unilateral</small>
                </div>

                @if (!string.IsNullOrEmpty(Model.ExerciseVariation.Notes))
                {
                    <div style="margin-block:.1ex;">
                        <small><b>EV:Notes</b> - @Model.ExerciseVariation.Notes</small>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.Variation.Notes))
                {
                    <div style="margin-block:.1ex;">
                        <small><b>V:Notes</b> - @Model.Variation.Notes</small>
                    </div>
                }
            </div>
        }

        @if (Model.Verbosity.HasFlag(Verbosity.Minimal)) 
        {
            bool showStaticImage = (Model.User?.PreferStaticImages == true) || Model.Variation.AnimatedImage == null;
            var staticSrc = Url.AbsoluteContent($"~/images/variation/static/{Model.Variation.StaticImage}");
            var animatedSrc = Url.AbsoluteContent($"~/images/variation/animated/{Model.Variation.AnimatedImage}");
            if (Model.InEmailContext)
            {
                if (showStaticImage || Model.Verbosity.HasFlag(Verbosity.Debug))
                {
                    <div style="aspect-ratio:3/2;min-height:150px;max-height:256px;background-size:contain;background-repeat:no-repeat;background-image:url('@staticSrc');"></div>
                }
                if (!showStaticImage || Model.Verbosity.HasFlag(Verbosity.Debug))
                {
                    <div style="aspect-ratio:3/2;min-height:150px;max-height:256px;background-size:contain;background-repeat:no-repeat;background-image:url('@animatedSrc');"></div>
                }
            }
            else 
            {
                <img style="height:200px;width:300px;object-fit:contain;object-position:left top;" height="200" width="300" loading="lazy" src="@(showStaticImage ? staticSrc : animatedSrc)">
            }
        }
    </div>
    
    @* Don't allow them to progress variations when a deload week is happening. *@
    @if (Model.User != null && !deloadWeek && (Model.HasHigherProgressionVariation || Model.HasLowerProgressionVariation))
    {
        <div style="padding-top:1ex;display:flex;column-gap:1ch;">
            <div>
                @if (Model.HasLowerProgressionVariation)
                {
                    <small style="white-space:nowrap;">
                        <a href="@Url.StillHereLink(Model.User.Email, Model.User.Token, Url.ActionLink(nameof(UserController.ThatWorkoutWasTough), UserController.Name, new { Model.User.Email, Model.User.Token, ExerciseId = Model.Exercise.Id }))">&lt; Regress</a>
                    </small>
                    @if (Model.Verbosity.HasFlag(Verbosity.Normal) && Model.EasierVariation != null)
                    {
                        <div style="font-size:xx-small;">@Model.EasierVariation</div>
                    }
                }
                else if (Model.Verbosity.HasFlag(Verbosity.Normal) && Model.EasierReason != null)
                {
                    <small style="white-space:nowrap;">
                        <span style="color:red;">@Model.EasierReason</span>
                    </small>
                    @if (Model.Verbosity.HasFlag(Verbosity.Normal) && Model.EasierVariation != null)
                    {
                        <div style="font-size:xx-small;">@Model.EasierVariation</div>
                    }
                }
            </div>
            @* Don't confuse the user by allowing them to progress when they have already progressed past this exercise.
               Don't check if the user min progression is in range b/c we want users to be able to progress if they ignored an easier variation and are now seeing the harder variation. *@
            @if (Model.UserMaxProgressionInRange)
            {
                <div style="margin-left:auto;text-align:end;">
                    @if (Model.HasHigherProgressionVariation)
                    {
                        <small style="white-space:nowrap;">
                            <a href="@Url.StillHereLink(Model.User.Email, Model.User.Token, Url.ActionLink(nameof(UserController.ThatWorkoutWasEasy), UserController.Name, new { Model.User.Email, Model.User.Token, ExerciseId = Model.Exercise.Id }))">Progress &gt;</a>
                        </small>
                        @if (Model.Verbosity.HasFlag(Verbosity.Normal) && Model.HarderVariation != null)
                        {
                            <div style="font-size:xx-small;">@Model.HarderVariation</div>
                        }
                    }
                    else if (Model.Verbosity.HasFlag(Verbosity.Normal) && Model.HarderReason != null)
                    {
                        <small style="white-space:nowrap;">
                            <span style="color:red;">@Model.HarderReason</span>
                        </small>
                        @if (Model.Verbosity.HasFlag(Verbosity.Normal) && Model.HarderVariation != null)
                        {
                            <div style="font-size:xx-small;">@Model.HarderVariation</div>
                        }
                    }
                </div>
            }
        </div>
    }

    @if (Model.Verbosity.HasFlag(Verbosity.Normal) && Model.UserExercise != null)
    {
        var progressionOutOfRange = Model.UserExercise.Progression < Model.ExerciseVariation.Progression.Min || Model.UserExercise.Progression > Model.ExerciseVariation.Progression.Max;
        <div style="position:absolute;bottom:0;left:calc(@Model.UserExercise.Progression% - 1ch);width:2ch;text-align:center;font-size:xx-small;line-height:1;@(progressionOutOfRange ? "color:red" : "")">
            &#9660;
        </div>
    }

    @if (Model.Verbosity.HasFlag(Verbosity.Normal))
    {
        <div style="position:absolute;bottom:-4px;left:calc(@Model.Exercise.Proficiency% - 1px);height:4px;width:2px;background-color:currentColor;"></div>
    }
    
    @if (Model.Verbosity.HasFlag(Verbosity.Diagnostic))
    {
        if (Model.ExerciseVariation.Progression.Min.HasValue) 
        {
            <div style="line-height:1;position:absolute;bottom:0;font-size:xx-small;font-weight:bold;
                        left:max(0%, calc(@Model.ExerciseVariation.Progression.Min% - @(Model.ExerciseVariation.Progression.Min.Value.ToString().Length)ch));">
                @Model.ExerciseVariation.Progression.Min
            </div>
        }

        if (Model.ExerciseVariation.Progression.Max.HasValue)
        {
            <div style="line-height:1;position:absolute;bottom:0;font-size:xx-small;font-weight:bold;
                        left:min(calc(100% - @(Model.ExerciseVariation.Progression.Max.Value.ToString().Length)ch), @Model.ExerciseVariation.Progression.Max%);">
                @Model.ExerciseVariation.Progression.Max
            </div>
        }
    }
</div>