@model WorkoutViewModel
@using Core.Models.Exercise
@using Lib.ViewModels.User
@using Lib.ViewModels.Newsletter
@using Core.Models.User

<h5 class="mb-0">Current Workout</h5>
<h6 class="mb-1 font-weight--normal">@Model.CurrentWorkout.Date.ToLongDateString()</h6>
<div class="list-group mb-3">
    <a href="@Url.ActionLink(nameof(NewsletterController.Newsletter), NewsletterController.Name, new { Model.User.Email, Model.Token })"
        class="list-group-item list-group-item-primary list-group-item-action active hover">
        <div class="row gx-3 gy-1">
            <div class="col"><b class="">@(Model.CurrentWorkout.Frequency == Frequency.OffDayStretches ? "Mobility" : (Model.CurrentWorkout.Rotation.MuscleGroupsDisplayName ?? "Rest"))</b></div>
        </div>
        <div class="">
            @if (Model.CurrentWorkout.Frequency == Frequency.OffDayStretches)
            {
                <small>@Model.CurrentWorkout.Rotation.MuscleGroupsDisplayName</small>
            }
            else
            {
                <small>@Model.CurrentWorkout.Rotation.MovementPatterns.GetDisplayName32(EnumExtensions.DisplayNameType.ShortName)</small>
            }
        </div>
    </a>
</div>
