@model ViewModels.Newsletter.ExerciseViewModel
@using Controllers
@using Microsoft.AspNetCore.Http.Extensions
@using Extensions
@using Models.Exercise
@using Models.Newsletter
@using ViewModels.Newsletter

@{ 
    var borderColor = Model.ActivityLevel switch
    {
        ExerciseActivityLevel.Main => "palegreen",
        ExerciseActivityLevel.Cooldown => "lightskyblue",
        ExerciseActivityLevel.Warmup => "palevioletred",
        _ => "currentColor"
    };

    var backgroundColor = Model.ActivityLevel switch
    {
        ExerciseActivityLevel.Main => "rgba(200,255,200,.1)",
        ExerciseActivityLevel.Cooldown => "rgba(200,200,255,.1)",
        ExerciseActivityLevel.Warmup => "rgba(255,200,200,.1)",
        _ => "transparent"
    };
}

<div style="flex:1 0 200px;padding:10px;position:relative;display:flex;flex-direction:column;justify-content:space-between;
            border-bottom:4px @(Model.Verbosity.HasFlag(Verbosity.Normal) ? "solid" : "none");border-image-slice:1;outline:1px solid @borderColor;background-color:@backgroundColor;
            border-image-source:linear-gradient(90deg, transparent @(Model.ExerciseProgression.Progression.Min ?? 0)%, @borderColor @(Model.ExerciseProgression.Progression.Min ?? 0)% @(Model.ExerciseProgression.Progression.Max ?? 100)%, transparent @(Model.ExerciseProgression.Progression.Max ?? 100)%);">
    <div>
        <h3 style="margin-block:0;">
            @{
                var defaultInstruction = Model.Variation.EquipmentGroups.SingleOrDefault(eg => !eg.Equipment.Any())?.Instruction;
            }
            @if (String.IsNullOrEmpty(defaultInstruction))
            {
                <span>@(Model.Variation.Name ?? Model.Exercise.Name)</span>
            }
            else 
            {
                <a target="_blank" href="@(Model.User != null ? Url.StillHereLink(Model.User.Email, Model.User.Token, defaultInstruction) : defaultInstruction)">
                    @(Model.Variation.Name ?? Model.Exercise.Name)
                </a>
            }
        </h3>

        @if (Model.Verbosity.HasFlag(Verbosity.Debug) && Model.Variation.SportsFocus != Models.User.SportsFocus.None)
        {
            <div style="margin-block:1ex;">
                <b>Sports Focus</b> - @Model.Variation.SportsFocus.GetDisplayName32(EnumExtensions.DisplayNameType.ShortName)
            </div>
        }

        <div style="margin-block:1ex;">
            @Html.DisplayFor(m => Model.Proficiencies)
        </div>
          
        @if (Model.Variation.EquipmentGroups?.Any(eg => eg.Equipment.Any()) == true)
        {
            <ul style="margin-block:1ex;padding-inline-start:2ch;">
                @foreach (var equipmentGroup in Model.Variation.EquipmentGroups
                    .Where(eg => eg.Equipment.Any())
                    // Only show the optional equipment groups that the user owns equipment out of
                    .Where(eg => Model.User == null || Model.User.EquipmentIds.Intersect(eg.Equipment.Select(e => e.Id)).Any())
                    .OrderByDescending(eg => eg.Required))
                {
                    <li style="line-height:1;list-style-type:@(equipmentGroup.Required ? "disc" : "circle")">
                        <small><partial name="Components/Exercise/_EquipmentGroup" model="new EquipmentGroupViewModel(equipmentGroup, Model.User)" /></small>
                    </li>
                }
            </ul>
        }

        @if (Model.Verbosity.HasFlag(Verbosity.Detailed)) 
        {
            <div style="margin-block:1ex;font-size:x-small;"><b>Primary</b>: @Model.Exercise.PrimaryMuscles.GetDisplayName32(EnumExtensions.DisplayNameType.ShortName)</div>
        }

        @if (Model.Verbosity.HasFlag(Verbosity.Diagnostic) && Model.Exercise.SecondaryMuscles != MuscleGroups.None)
        {
            <div style="margin-block:1ex;font-size:x-small;"><b>Secondary</b>: @Model.Exercise.SecondaryMuscles.GetDisplayName32(EnumExtensions.DisplayNameType.ShortName)</div>
        }

        @if (Model.Verbosity.HasFlag(Verbosity.Minimal)) 
        {
            <div style="height:200px;background-size:contain;background-repeat:no-repeat;background-image:url('@Url.AbsoluteContent($"~/images/{Model.Variation.Code}.webp")'),url('@Url.AbsoluteContent($"~/images/{Model.Variation.Code}.jpg")');"></div>
        }
    </div>
    
    @if (Model.User != null && (Model.HasHigherProgressionVariation || Model.HasLowerProgressionVariation))
    {
        <small style="padding-top:1ex;display:flex">
            @if (Model.HasHigherProgressionVariation)
            {
                <a href="@Url.StillHereLink(Model.User.Email, Model.User.Token, Url.ActionLink(nameof(UserController.ThatWorkoutWasEasy), UserController.Name, new { Model.User.Email, Model.User.Token, ExerciseId = Model.Exercise.Id }))">Too easy?</a>
            }
            else if (!Model.Demo && !Model.Exercise.IsRecovery)
            {
                <a href="@Url.StillHereLink(Model.User.Email, Model.User.Token, Url.ActionLink(nameof(UserController.IgnoreExercise), UserController.Name, new { Model.User.Email, Model.User.Token, ExerciseId = Model.Exercise.Id }))">Ignore?</a>
            }

            @if (Model.HasLowerProgressionVariation)
            {
                <a style="margin-left:auto" href="@Url.StillHereLink(Model.User.Email, Model.User.Token, Url.ActionLink(nameof(UserController.ThatWorkoutWasTough), UserController.Name, new { Model.User.Email, Model.User.Token, ExerciseId = Model.Exercise.Id }))">Too hard?</a>
            }
            else if (!Model.Demo && !Model.Exercise.IsRecovery)
            {
                <a style="margin-left:auto" href="@Url.StillHereLink(Model.User.Email, Model.User.Token, Url.ActionLink(nameof(UserController.IgnoreExercise), UserController.Name, new { Model.User.Email, Model.User.Token, ExerciseId = Model.Exercise.Id }))">Ignore?</a>
            }
        </small>
    }

    @if (Model.Verbosity.HasFlag(Verbosity.Normal) && Model.UserExercise != null)
    {
        var progressionOutOfRange = Model.UserExercise.Progression < Model.ExerciseProgression.Progression.Min || Model.UserExercise.Progression > Model.ExerciseProgression.Progression.Max;
        <div style="position:absolute;bottom:0;left:calc(@Model.UserExercise.Progression% - 1ch);width:2ch;text-align:center;font-size:xx-small;line-height:1;@(progressionOutOfRange ? "color:red" : "")">
            &#9660;
        </div>
    }
    
    @if (Model.Verbosity.HasFlag(Verbosity.Diagnostic))
    {
        if (Model.ExerciseProgression.Progression.Min.HasValue) 
        {
            <div style="line-height:1;position:absolute;bottom:0;font-size:xx-small;font-weight:bold;
                        left:max(0%, calc(@Model.ExerciseProgression.Progression.Min% - @(Model.ExerciseProgression.Progression.Min.Value.ToString().Length)ch));">
                @Model.ExerciseProgression.Progression.Min
            </div>
        }

        if (Model.ExerciseProgression.Progression.Max.HasValue)
        {
            <div style="line-height:1;position:absolute;bottom:0;font-size:xx-small;font-weight:bold;
                        left:min(calc(100% - @(Model.ExerciseProgression.Progression.Max.Value.ToString().Length)ch), @Model.ExerciseProgression.Progression.Max%);">
                @Model.ExerciseProgression.Progression.Max
            </div>
        }
    }
</div>