@inject AppState AppState
@inject DisplayHelper DH
@inject NewsletterService NewsletterService
@inject NavigationManager Navigation
@using Core.Models.Exercise
@using Core.Models.Newsletter
@using Core.Models.Footnote
@using Core.Models.User

<Router AppAssembly="@typeof(AppMain).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(AppMainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(AppMainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>


@code {
    [Parameter]
    public int? Id { get; set; }

    [Parameter]
    public string Email { get; set; } = null!;

    [Parameter]
    public string Token { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        AppState.Id = Id;
        AppState.Email = Email;
        AppState.Token = Token;
    }
}