@model Views.Exercise.ExercisesViewModel
@using Core.Models.Exercise
@using Core.Models.Exercise.Skills
@using Core.Models.User
@using Core.Models
@using Data.Entities.Equipment;
@using Web.Code.Extensions

@{
    ViewData[ViewData_Blank.Title] = "Exercises";
}

<details class="alert alert-secondary mb-0" style="position:fixed;top:0;right:0;z-index:1;overflow:auto;max-height:100vh;" @(Model.FormOpen ? "open" : "")>
    <summary class="cursor--pointer filter-exercises">@(Model.FormHasData ? "*" : "")Filter Exercises</summary>

    <form asp-controller="@ExerciseController.Name" asp-action="@nameof(ExerciseController.All)" method="get" 
          style="margin-top:1rem" autocomplete="off" onsubmit="submitButton.disabled=true;">
        <div style="margin-bottom:1ex;">
            <label asp-for="Name" class="control-label">@Html.DisplayNameFor(_ => Model.Name)</label>
            <input asp-for="Name" type="text" class="form-control" />
        </div>
        <div style="margin-bottom:1ex;">
            <label asp-for="Section" class="control-label">@Html.DisplayNameFor(_ => Model.Section)</label>
            <select asp-for="Section" class="form-control"
                    asp-items='@(EnumExtensions.GetValuesExcluding(Section.None, Section.All, Section.Debug).AsSelectListItems(EnumViewExtensions.EnumOrdering.Text).Prepend(new SelectListItem()))'>
            </select>
        </div>
        <div style="margin-bottom:1ex;">
            <label asp-for="StrengthMuscle" class="control-label">@Html.DisplayNameFor(_ => Model.StrengthMuscle)</label>
            <select asp-for="StrengthMuscle" class="form-control"
                    asp-items='@(EnumExtensions.GetSingleValues<MusculoskeletalSystem>().AsSelectListItems(EnumViewExtensions.EnumOrdering.GroupText).Prepend(new SelectListItem()))'>
            </select>
        </div>
        <div style="margin-bottom:1ex;">
            <label asp-for="SecondaryMuscle" class="control-label">@Html.DisplayNameFor(_ => Model.SecondaryMuscle)</label>
            <select asp-for="SecondaryMuscle" class="form-control"
                    asp-items='@(EnumExtensions.GetSingleValues<MusculoskeletalSystem>().AsSelectListItems(EnumViewExtensions.EnumOrdering.GroupText).Prepend(new SelectListItem()))'>
            </select>
        </div>
        <div style="margin-bottom:1ex;">
            <label asp-for="StretchMuscle" class="control-label">@Html.DisplayNameFor(_ => Model.StretchMuscle)</label>
            <select asp-for="StretchMuscle" class="form-control"
                    asp-items='@(EnumExtensions.GetSingleValues<MusculoskeletalSystem>().AsSelectListItems(EnumViewExtensions.EnumOrdering.GroupText).Prepend(new SelectListItem()))'>
            </select>
        </div>
        <div style="margin-bottom:1ex;">
            <label asp-for="Equipment" class="control-label">@Html.DisplayNameFor(_ => Model.Equipment)</label>
            <select asp-for="Equipment" class="form-control"
                    asp-items='@(EnumExtensions.GetDisplayValues<Equipment>().AsSelectListItems(EnumViewExtensions.EnumOrdering.GroupText).Prepend(new SelectListItem()))'>
            </select>
        </div>
        <div style="margin-bottom:1ex;">
            <label asp-for="MuscleMovement" class="control-label">@Html.DisplayNameFor(_ => Model.MuscleMovement)</label>
            <select asp-for="MuscleMovement" class="form-control"
                    asp-items='@(EnumExtensions.GetDisplayValues<MuscleMovement>().AsSelectListItems(EnumViewExtensions.EnumOrdering.Text).Prepend(new SelectListItem()))'>
            </select>
        </div>
        <div style="margin-bottom:1ex;">
            <label asp-for="MovementPatterns" class="control-label">@Html.DisplayNameFor(_ => Model.MovementPatterns)</label>
            <select asp-for="MovementPatterns" class="form-control"
                    asp-items='@(EnumExtensions.GetDisplayValues<MovementPattern>().AsSelectListItems(EnumViewExtensions.EnumOrdering.Text).Prepend(new SelectListItem()))'>
            </select>
        </div>
        <div style="margin-bottom:1ex;">
            <label asp-for="ExerciseFocus" class="control-label">@Html.DisplayNameFor(_ => Model.ExerciseFocus)</label>
            <select asp-for="ExerciseFocus" class="form-control"
                    asp-items='@(EnumExtensions.GetValuesExcluding(ExerciseFocus.None, ExerciseFocus.All).AsSelectListItems(EnumViewExtensions.EnumOrdering.Text).Prepend(new SelectListItem()))'>
            </select>
        </div>
        <div style="margin-bottom:1ex;">
            <label asp-for="SportsFocus" class="control-label">@Html.DisplayNameFor(_ => Model.SportsFocus)</label>
            <select asp-for="SportsFocus" class="form-control"
                    asp-items='@(EnumExtensions.GetValuesExcluding(SportsFocus.None, SportsFocus.All).AsSelectListItems(EnumViewExtensions.EnumOrdering.Text).Prepend(new SelectListItem()))'>
            </select>
        </div>
        <div style="margin-bottom:1ex;">
            <label asp-for="VocalSkills" class="control-label">@Html.DisplayNameFor(_ => Model.VocalSkills)</label>
            <select asp-for="VocalSkills" class="form-control"
                    asp-items='@(EnumExtensions.GetDisplayValues<VocalSkills>().AsSelectListItems(EnumViewExtensions.EnumOrdering.GroupText).Prepend(new SelectListItem()))'>
            </select>
        </div>
        <div style="margin-bottom:1ex;">
            <label asp-for="VisualSkills" class="control-label">@Html.DisplayNameFor(_ => Model.VisualSkills)</label>
            <select asp-for="VisualSkills" class="form-control"
                    asp-items='@(EnumExtensions.GetDisplayValues<VisualSkills>().AsSelectListItems(EnumViewExtensions.EnumOrdering.GroupText).Prepend(new SelectListItem()))'>
            </select>
        </div>
        <div style="margin-bottom:1ex;">
            <label asp-for="CervicalSkills" class="control-label">@Html.DisplayNameFor(_ => Model.CervicalSkills)</label>
            <select asp-for="CervicalSkills" class="form-control"
                    asp-items='@(EnumExtensions.GetDisplayValues<CervicalSkills>().AsSelectListItems(EnumViewExtensions.EnumOrdering.GroupText).Prepend(new SelectListItem()))'>
            </select>
        </div>
        <div style="margin-bottom:1ex;">
            <label asp-for="ThoracicSkills" class="control-label">@Html.DisplayNameFor(_ => Model.ThoracicSkills)</label>
            <select asp-for="ThoracicSkills" class="form-control"
                    asp-items='@(EnumExtensions.GetDisplayValues<ThoracicSkills>().AsSelectListItems(EnumViewExtensions.EnumOrdering.GroupText).Prepend(new SelectListItem()))'>
            </select>
        </div>
        <div style="margin-bottom:1ex;">
            <label asp-for="LumbarSkills" class="control-label">@Html.DisplayNameFor(_ => Model.LumbarSkills)</label>
            <select asp-for="LumbarSkills" class="form-control"
                    asp-items='@(EnumExtensions.GetDisplayValues<LumbarSkills>().AsSelectListItems(EnumViewExtensions.EnumOrdering.GroupText).Prepend(new SelectListItem()))'>
            </select>
        </div>
        @Html.ValidationSummary()
        <div class="row pt-1">
            <div class="col">
                <input type="submit" value="Apply" class="btn btn-secondary" name="submitButton" />
            </div>
            <div class="col-auto">
                <a class="btn btn-outline-secondary" asp-controller="@ExerciseController.Name" asp-action="@nameof(ExerciseController.All)" asp-route-formOpen="true">Clear</a>
            </div>
        </div>
    </form>
</details>

<section> @* Wrapper section for ::deep styles. *@
    <component type="typeof(Lib.Pages.Shared.Exercise.ExerciseSection)" render-mode="Static" param-Exercises='Model.Exercises' param-Theme='ExerciseTheme.None' param-Verbosity="@(Model.FormHasData? Verbosity.Debug: Verbosity.All)" />
    <component type="typeof(Lib.Pages.Shared.Newsletter.Footnote)" render-mode="Static" param-Count='int.MaxValue' param-Verbosity='Verbosity.Debug' />
</section>
