@model ViewModels.User.UserNewsletterViewModel

@if (Model.LastActive == null)
{
    <div style="background-color:honeydew;padding:1rem;margin-block:1rem;">
        <div>Thank you for subscribing to receive workout emails from @_siteSettings.Value.Name!</div>
        <div>Please <a target="_blank" href="@Url.StillHereLink(Model.Email, Model.Token, null)">confirm your account</a> or interact with this email to continue receiving workouts.</div>
        <div style="margin-top:1rem;"><small>Not you? Ignore this email or <a href="@Url.ActionLink(nameof(UserController.Delete), UserController.Name, new { Model.Email, Model.Token })">delete your account</a> to unsubscribe.</small></div>
    </div>
}
else if (Model.IsAlmostInactive)
{
    <div style="background-color:antiquewhite;padding:1rem;margin-block:1rem;">
        <span>Your account is at risk of being deactivated for inactivity. Please click <a target="_blank" href="@Url.StillHereLink(Model.Email, Model.Token, null)">here</a> to continue receiving workout emails.</span>
    </div>
}

@if (!Model.EquipmentIds.Any())
{
    <div style="background-color:antiquewhite;padding:1rem;margin-block:1rem;">
        <div>The workouts are better with equipment. Consider investing in some dumbbells, resistance bands, or gymnastic rings and select what you have access to in the <a target="_blank" href="@Url.StillHereLink(Model.Email, Model.Token, Url.ActionLink(nameof(UserController.Edit), UserController.Name, new { Model.Email, Model.Token }))">preferences</a>.</div>
    </div>
}