@model FinerFettle.Web.Models.User.User
@using FinerFettle.Web.Controllers
@using FinerFettle.Web.Models.Exercise

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.Create)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">@Html.DisplayNameFor(m => m.Email)</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Progression" class="control-label">@Html.DisplayNameFor(m => m.Progression)</label>
                <input asp-for="Progression" class="form-control" />
                <span asp-validation-for="Progression" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment" class="control-label">@Html.DisplayNameFor(m => m.Equipment)</label>
                <select asp-for="Equipment" class="form-control" asp-items="@(Html.GetEnumSelectList<Equipment>())" multiple>
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Equipment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
