@model FinerFettle.Web.ViewModels.User.UserViewModel
@using Controllers
@using Extensions
@using Models.Exercise

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NeedsRest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NeedsRest)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Progression)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Progression)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class="col-sm-10">
            @String.Join(", ", Model.Equipment?.Select(e => e.Name) ?? new List<string>())
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RestDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RestDays)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StrengtheningPreference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StrengtheningPreference)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="@UserController.Name" asp-action="@nameof(UserController.Edit)" asp-route-email="@Model?.Email">Edit</a> |
    <a asp-controller="@UserController.Name" asp-action="@nameof(UserController.Delete)" asp-route-email="@Model?.Email">Unsubscribe</a>
</div>
