@model FinerFettle.Web.Models.User.User
@using Controllers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Progression)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Progression)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="@UserController.Name" asp-action="@nameof(UserController.Edit)" asp-route-email="@Model?.Email">Edit</a> |
</div>
