@model FinerFettle.Web.ViewModels.User.UserViewModel
@using FinerFettle.Web.Controllers
@using FinerFettle.Web.Models.Exercise
@using FinerFettle.Web.Models.User
@using Extensions

@{
    ViewData["Title"] = "Preferences";
}

<h1>Manage Preferences</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.Edit)" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="OverMinimumAge" />
            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="EquipmentBinder" class="control-label">@Html.DisplayNameFor(m => m.Equipment)</label>
                <select asp-for="EquipmentBinder" class="form-control" asp-items="Model.Equipment.Select(v => new SelectListItem { Text = v.Name, Value = v.Id.ToString() })">
                </select>
                <span asp-validation-for="EquipmentBinder" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="RestDaysBinder" class="control-label">@Html.DisplayNameFor(m => m.RestDays)</label>
                <select asp-for="RestDaysBinder" class="form-control" asp-items="Enum.GetValues(typeof(RestDays)).Cast<RestDays>().Where(e => e != RestDays.None).Select(v => new SelectListItem { Text = v.ToString(), Value = ((int)v).ToString()})">
                </select>
                <span asp-validation-for="RestDaysBinder" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="StrengtheningPreference" class="control-label">@Html.DisplayNameFor(m => m.StrengtheningPreference)</label>
                <select asp-for="StrengtheningPreference" class="form-control" asp-items="@Html.GetEnumSelectList<StrengtheningPreference>()">
                </select>
                <span asp-validation-for="StrengtheningPreference" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-3">
                <label asp-for="Disabled" class="control-label">Disabled</label>
                <input class="form-check-input" asp-for="Disabled" />
                <span asp-validation-for="Disabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
