@model ManageVariationViewModel
@using System.Numerics
@using Core.Models.Exercise
@using Lib.ViewModels.User
@using Lib.ViewModels.Newsletter
@using Web.ViewModels.Components.UserVariation
@using Web.Components.UserVariation
@using Core.Consts

<h6 class="mb-1">Variation - @Model.UserVariation.Section.GetSingleDisplayName(EnumExtensions.DisplayNameType.ShortName)</h6>
<div class="alert alert-light shadow mb-0">
    <form asp-controller="@UserController.Name" class="row" asp-action="@nameof(UserController.IgnoreVariation)" method="post"
          asp-route-email="@Model.Parameters.Email" asp-route-token="@Model.Parameters.Token" asp-route-section="@Model.Parameters.Section" asp-route-variationId="@Model.Parameters.VariationId" asp-route-exerciseId="@Model.Parameters.ExerciseId">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group mb-3">
            <label for="variation-name" class="control-label">@Html.DisplayNameFor(_ => Model.Variation)</label>
            <div class="input-group">
                <textarea id="variation-name" class="form-control" disabled="disabled" aria-describedby="variation-help" rows="1">@Model.Variation.Name</textarea>
                <input type="submit" value="@(Model.UserVariation.Ignore ? "Ignored" : "Ignore")" class="btn btn-outline-secondary" @(Model.User.IsDemoUser ? "disabled='disabled'" : "") />
            </div>

            <span asp-validation-for="Variation" class="text-danger"></span>
            <div id="variation-help" class="form-text">
                @Html.DisplayDescriptionFor(_ => Model.Variation)
            </div>
        </div>
    </form>

    @if (Model.User.IsDemoUser)
    {
        <div class="alert alert-info callout">
            Customize how long you want to see exercises before they refresh.
        </div>
    }

    <form asp-controller="@UserController.Name" class="row mb-3" asp-action="@nameof(UserController.RefreshVariation)" method="post"
            asp-route-email="@Model.Parameters.Email" asp-route-token="@Model.Parameters.Token" asp-route-section="@Model.Parameters.Section" asp-route-variationId="@Model.Parameters.VariationId" asp-route-exerciseId="@Model.Parameters.ExerciseId">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label for="exercise-date" class="control-label">@Html.DisplayNameFor(_ => Model.UserVariation)</label>
            <div class="input-group">
                <input type="text" id="exercise-date" class="form-control" disabled="disabled" aria-describedby="exercise-date-help" rows="1" value="@((Model.UserVariation.RefreshAfter ?? Model.UserVariation.LastSeen).ToString("O"))" />
                <input type="submit" value="Refresh" class="btn btn-outline-secondary allow-demo" />
            </div>

            <span asp-validation-for="UserVariation" class="text-danger"></span>
            <div id="exercise-date-help" class="form-text">
                @Html.DisplayDescriptionFor(_ => Model.UserVariation)
            </div>
        </div>
    </form>

    <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.LogVariation)" method="post"
          asp-route-email="@Model.Parameters.Email" asp-route-token="@Model.Parameters.Token" asp-route-section="@Model.Parameters.Section" asp-route-variationId="@Model.Parameters.VariationId" asp-route-exerciseId="@Model.Parameters.ExerciseId">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group mb-3 mt-3">
            <label asp-for="RefreshAfterXWeeks" class="control-label">@Html.DisplayNameFor(_ => Model.RefreshAfterXWeeks)</label>
            <div style="display:flex;column-gap:1ex;">
                <output name="refreshFunctionalOutput" for="@Html.IdFor(_ => Model.RefreshAfterXWeeks)">@Model.RefreshAfterXWeeks</output>
                <div style="display:flex;width:100%;">
                    <input asp-for="RefreshAfterXWeeks" type="range" style="width:100%;" aria-describedby="refresh-functional-help"
                            min="@UserConsts.RefreshAfterXWeeksMin" max="@UserConsts.RefreshAfterXWeeksMax"
                            oninput="refreshFunctionalOutput.value = this.valueAsNumber" />
                </div>
            </div>
            <span asp-validation-for="RefreshAfterXWeeks" class="text-danger"></span>
            <details id="refresh-functional-help" class="form-text">
                <summary>@Html.DisplayDescriptionFor(_ => Model.RefreshAfterXWeeks)</summary>

                <div class="mt-1">
                    <span>The Weekly Training Volume Targets feature takes precedence over this.</span>
                </div>
            </details>
        </div>

        <div class="form-group mb-3 mt-3">
            <label asp-for="DelayRefreshXWeeks" class="control-label">@Html.DisplayNameFor(_ => Model.DelayRefreshXWeeks)</label>
            <div style="display:flex;column-gap:1ex;">
                <output name="delayFunctionalOutput" for="@Html.IdFor(_ => Model.DelayRefreshXWeeks)">@Model.DelayRefreshXWeeks</output>
                <div style="display:flex;width:100%;">
                    <input asp-for="DelayRefreshXWeeks" type="range" style="width:100%;" aria-describedby="delay-functional-help"
                           min="@UserConsts.DelayRefreshXWeeksMin" max="@UserConsts.DelayRefreshXWeeksMax"
                           oninput="delayFunctionalOutput.value = this.valueAsNumber" />
                </div>
            </div>
            <span asp-validation-for="DelayRefreshXWeeks" class="text-danger"></span>
            <details id="delay-functional-help" class="form-text">
                <summary>@Html.DisplayDescriptionFor(_ => Model.DelayRefreshXWeeks)</summary>

                <div class="mt-1">
                    <span>This may not apply if there are no other variations available.</span>
                </div>
            </details>
        </div>

        @if (Model.User.IsDemoUser)
        {
            <div class="alert alert-info callout mt-3">
                Track how many sets and reps you complete.
            </div>
        }

        <div class="form-group mb-3 mt-3">
            <label class="control-label">@Html.DisplayNameFor(_ => Model.Sets)</label>
            <div><span asp-validation-for="Sets" class="text-danger"></span></div>
            <div style="display:flex;column-gap:1ex;">
                <input type="number" asp-for="Sets" style="width:6ch;height:fit-content;" class="allow-demo"
                       oninput="setsInput.value = this.valueAsNumber" />
                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                    <input type="range" style="width:100%;" class="allow-demo"
                           name="setsInput" list="hashmarksSets" id="sets-input"
                           min="0" max="6" step="1" value="@Model.Sets"
                           oninput="@(Html.NameFor(_ => Model.Sets)).value = this.valueAsNumber" />
                </div>
            </div>
            <div id="sets-help" class="form-text"></div>
        </div>


        <div class="form-group mb-3 mt-3">
            <label class="control-label">@Html.DisplayNameFor(_ => Model.Reps)@(Model.Variation.Unilateral ? " (ea. side)" : "")</label>
            <div><span asp-validation-for="Reps" class="text-danger"></span></div>
            <div style="display:flex;column-gap:1ex;">
                <input type="number" asp-for="Reps" style="width:6ch;height:fit-content;" class="allow-demo"
                       oninput="repsInput.value = this.valueAsNumber" />
                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                    <input type="range" style="width:100%;" class="allow-demo"
                           name="repsInput" list="hashmarksReps" id="reps-input"
                           min="0" max="30" step="1" value="@Model.Reps"
                           oninput="@(Html.NameFor(_ => Model.Reps)).value = this.valueAsNumber" />
                </div>
            </div>
            <div id="reps-help" class="form-text"></div>
        </div>

        @if (Model.Variation.IsWeighted)
        {
            if (Model.User.IsDemoUser)
            {
                <div class="alert alert-info callout mt-3">
                    Track how much weight you are able to lift.
                </div>
            }

            <div class="form-group mb-3 mt-3">
                <label class="control-label">@Html.DisplayNameFor(_ => Model.Weight)</label>
                <div><span asp-validation-for="Weight" class="text-danger"></span></div>
                <div style="display:flex;column-gap:1ex;">
                    <input type="number" asp-for="Weight" style="width:6ch;height:fit-content;" class="allow-demo"
                           oninput="poundsInput.value = this.valueAsNumber" />
                    <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                        <input type="range" style="width:100%;" class="allow-demo"
                               name="poundsInput" list="hashmarks" id="pounds-input"
                               min="0" max="100" step="5" value="@Model.Weight"
                               oninput="@(Html.NameFor(_ => Model.Weight)).value = this.valueAsNumber" />

                        <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                            <option value="15"></option>
                            <option value="30"></option>
                            <option value="50"></option>
                            <option value="75"></option>
                            <option value="100"></option>

                            <!-- These need to be separate from the <option> elements because those have their position attribute overridden (from absolute to static) on Firefox -->
                            <div onclick="@(Html.NameFor(_ => Model.Weight)).value = document.getElementById('pounds-input').value = this.dataset.value" data-value="15" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(15% - .5ch)">Extra Light Band</div>
                            <div onclick="@(Html.NameFor(_ => Model.Weight)).value = document.getElementById('pounds-input').value = this.dataset.value" data-value="30" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(30% - .5ch)">Light Band</div>
                            <div onclick="@(Html.NameFor(_ => Model.Weight)).value = document.getElementById('pounds-input').value = this.dataset.value" data-value="50" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(50% - .5ch)">Midweight Band</div>
                            <div onclick="@(Html.NameFor(_ => Model.Weight)).value = document.getElementById('pounds-input').value = this.dataset.value" data-value="75" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(75% - .5ch)">Heavy Band</div>
                            <div onclick="@(Html.NameFor(_ => Model.Weight)).value = document.getElementById('pounds-input').value = this.dataset.value" data-value="100" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;right:-2.5ch">Extra Heavy Band</div>
                        </datalist>
                    </div>
                </div>
                <div id="pounds-help" class="form-text"></div>
            </div>
        }

        <div class="form-group" style="@(Model.Variation.IsWeighted ? "min-height:9ch;" : "")">
            <input type="submit" value="Save" class="btn btn-primary allow-demo" />
        </div>
    </form>

    <component type="typeof(Lib.Pages.Shared.Exercise.ExerciseSection)" render-mode="Static" param-User="null" param-Exercises='Model.Variations' param-Theme='Model.Parameters.Section.AsTheme()' param-Verbosity="Model.VariationVerbosity" />

    @await Component.InvokeAsync(VariationLogViewComponent.Name, new { Model.User, Model.Parameters })
</div>
