@inject IOptions<SiteSettings> SiteSettings
@using Web.Code.Extensions

@{
    var wasUpdated = Boolean.TryParse(Context.Request.Query["WasUpdated"], out bool temp) ? temp : (bool?)null;
}

<!DOCTYPE html>
<html lang="en" data-bs-theme="@(ViewData[ViewData_Blank.Theme] != null ? ViewData[ViewData_Blank.Theme] : "auto")">
<head>
    <base href="~/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="/manifest.json">

    @if (ViewData[ViewData_Blank.Title] == null)
    {
        <title>@_siteSettings.Value.Name</title>
    }
    else 
    {
        <title>@ViewData[ViewData_Blank.Title] - @_siteSettings.Value.Name</title>
    }

    @if (ViewData[ViewData_Blank.Description] != null)
    {
        <meta name="description" content="@ViewData[ViewData_Blank.Description]" />
    }
    else 
    {
        <meta name="robots" content="noindex">
    }

    @if (ViewData[ViewData_Blank.Canonical] != null)
    {
        <link rel="canonical" href="@ViewData[ViewData_Blank.Canonical]" />
    }

    <link rel="stylesheet" href="~/css/blank.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="@Url.AbsoluteContent("/favicon.png")">

    @if (wasUpdated == false || TempData[TempData_User.FailureMessage] != null)
    {
        <link rel="icon" type="image/svg+xml" href="@Url.AbsoluteContent("/favicon-danger.svg")">
    }
    else if (wasUpdated == true || TempData[TempData_User.SuccessMessage] != null || TempData[TempData_User.SuccessMessage2] != null)
    {
        <link rel="icon" type="image/svg+xml" href="@Url.AbsoluteContent("/favicon-success.svg")">
    }
    else
    {
        <link rel="icon" type="image/svg+xml" href="@Url.AbsoluteContent("/favicon.svg")">
    }

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>