
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    @if (ViewData["Title"] == null) 
    {
        <title>Finer Fettle</title>
    }
    else 
    {
        <title>@ViewData["Title"] - Finer Fettle</title>
    }

    @if (ViewData["Description"] != null) 
    {
        <meta name="description" content="@ViewData["Description"]" />
    }
    else 
    {
        <meta name="robots" content="noindex">
    }

    <link rel="icon" type="image/svg+xml" href="@Url.AbsoluteContent("/favicon.svg")">
    <link rel="icon" type="image/png" href="@Url.AbsoluteContent("/favicon.png")">

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>