
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    @if (ViewData[ViewData_Blank.Title] == null)
    {
        <title>@_siteSettings.Value.Name</title>
    }
    else 
    {
        <title>@ViewData[ViewData_Blank.Title] - @_siteSettings.Value.Name</title>
    }

    @if (ViewData[ViewData_Blank.Description] != null)
    {
        <meta name="description" content="@ViewData[ViewData_Blank.Description]" />
    }
    else 
    {
        <meta name="robots" content="noindex">
    }

    @if (ViewData[ViewData_Blank.Canonical] != null)
    {
        <link rel="canonical" href="@ViewData[ViewData_Blank.Canonical]" />
    }

    <link rel="icon" type="image/svg+xml" href="@Url.AbsoluteContent("/favicon.svg")">
    <link rel="icon" type="image/png" href="@Url.AbsoluteContent("/favicon.png")">

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>