
@{
    Layout = "_Blank";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
}

<header class="shadow">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <a class="row g-1 text-dark text-decoration--none align-items-center" href="/">
                    <div class="col-auto d-flex justify-content-center site-logo">
                        @Html.Raw(File.ReadAllText(System.IO.Path.Combine(_webHostEnvironment.WebRootPath, "images/favicon-current-color.svg")))
                    </div>
                    <div class="col site-name">
                        @_siteSettings.Value.Name
                    </div>
                </a>
            </div>
            
            <div class="col-auto">
                <a class="text-dark px-1" asp-controller="@ExerciseController.Name" asp-action="@nameof(ExerciseController.All)">Exercises</a>
            </div>
        </div>
    </div>
</header>

<main role="main">
    <div class="container">
        @RenderBody()
    </div>
</main>

<footer class="shadow">
    <div class="container">
        <div class="row">
            <div class="col-auto">&copy; 2023 - @_siteSettings.Value.Name</div>
            <div class="col-auto"><a class="text-muted" href="@_siteSettings.Value.Source">Source</a></div>
            <div class="col-auto"><a class="text-muted" asp-area="" asp-page="/ImageAttribution">Attribution</a></div>
            <div class="col-auto"><a class="text-muted" asp-area="" asp-page="/Terms">Terms of Use</a></div>
            <div class="col-auto"><a class="text-muted" asp-area="" asp-page="/Privacy">Privacy</a></div>
        </div>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script type="module" src="https://cdn.jsdelivr.net/npm/friendly-challenge@0.9.12/widget.module.min.js" async defer></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/friendly-challenge@0.9.12/widget.min.js" async defer></script>

@await RenderSectionAsync("Scripts", required: false)