
@{
    Layout = "_Blank";
    var wasUpdated = Boolean.TryParse(Context.Request.Query["WasUpdated"], out bool temp) ? temp : (bool?)null;
}

@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/js/theme.js" asp-append-version="true"></script>
    @*<script src="_framework/blazor.server.js"></script>*@
}

<header class="shadow">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-auto">
                <a class="row g-1 text-dark text-decoration--none align-items-center hover" href="/">
                    <div class="col-auto d-flex justify-content-center site-logo">
                        @if (wasUpdated == false || TempData[TempData_User.FailureMessage] != null)
                        {
                            @Html.Raw(File.ReadAllText(System.IO.Path.Combine(_webHostEnvironment.WebRootPath, "images/favicon-danger.svg")))
                        }
                        else if (wasUpdated == true || TempData[TempData_User.SuccessMessage] != null || TempData[TempData_User.SuccessMessage2] != null)
                        {
                            @Html.Raw(File.ReadAllText(System.IO.Path.Combine(_webHostEnvironment.WebRootPath, "images/favicon-success.svg")))
                        }
                        else
                        {
                            @Html.Raw(File.ReadAllText(System.IO.Path.Combine(_webHostEnvironment.WebRootPath, "images/favicon-current-color.svg")))
                        }
                    </div>
                    <div class="col site-name">
                        @_siteSettings.Value.Name
                    </div>
                </a>
            </div>
            
            <div class="col-auto">
                <a class="text-dark px-1 hover" asp-controller="@ExerciseController.Name" asp-action="@nameof(ExerciseController.All)">Exercises</a>
            </div>
        </div>
    </div>
</header>

<main id="main" role="main">
    <div class="container">
        @RenderBody()
    </div>
</main>

<footer class="shadow">
    <div class="container">
        <div class="row">
            <div class="col-auto"><a class="text-dark text-decoration--none hover" href="#">&copy; 2022-@DateTime.UtcNow.Year Graham Scanlon</a></div>
            <div class="col-auto"><a class="text-muted hover" href="@_siteSettings.Value.Source">Source</a></div>
            <div class="col-auto"><a class="text-muted hover" asp-area="" asp-page="/Attribution">Attribution</a></div>
            <div class="col-auto"><a class="text-muted hover" asp-area="" asp-page="/Terms">Terms of Use</a></div>
            <div class="col"><a class="text-muted hover" asp-area="" asp-page="/Privacy">Privacy</a></div>
        </div>
    </div>
</footer>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
}