@model IList<ViewModels.Newsletter.ExerciseViewModel>
@using Microsoft.AspNetCore.Http.Extensions
@using Extensions

<style>
    .preview-img {
        width: 200px;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Exercise.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Exercise.Equipment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Exercise.Instruction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Exercise.MuscleContractions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Muscles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.Equipment)
            </td>
            <td>
                <a href="@item.Exercise.Instruction">Instructions</a>
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Exercise.MuscleContractions)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Muscles)
            </th>
            <td>
                <!-- This isn't the best. But it works in emails. -->
                <img alt="" class="preview-img" src="@Url.AbsoluteContent($"~/images/{item.Exercise.Code}.webp")">
                <img alt="" class="preview-img" src="@Url.AbsoluteContent($"~/images/{item.Exercise.Code}.jpg")">
            </td>
        </tr>
}
    </tbody>
</table>
