@model IList<ViewModels.Newsletter.ExerciseViewModel>
@using Microsoft.AspNetCore.Http.Extensions
@using Extensions
@using Models.Exercise

<div style="display:flex;flex-wrap:wrap;gap:1rem;">
@foreach (var item in Model) {
    <div style="border:1px solid gray;padding:1rem;">
        <h5 style="margin-bottom:0;margin-top:0;"><a href="@item.Exercise.Instruction">@Html.DisplayFor(modelItem => item.Exercise.Name)</a></h5>

        <ul style="padding-inline-start:2ch;">
            <li>
                <div>@Html.DisplayNameFor(model => item.Exercise.Equipment)</div>
                <small>@Html.DisplayFor(modelItem => item.Exercise.Equipment)</small>
            </li>
            <li>
                <div>@Html.DisplayNameFor(model => item.Muscles)</div>
                <small>@Html.DisplayFor(modelItem => item.Muscles)</small>
            </li>
            <li>
                <div>Target</div>
                <small>
                    @if (item.Exercise.ProficiencySets.HasValue && item.Exercise.ProficiencyReps.HasValue && item.Exercise.ProficiencySecs.HasValue)
                    {
                        <span>@Html.DisplayFor(modelItem => item.Exercise.ProficiencySets) set(s) of @Html.DisplayFor(modelItem => item.Exercise.ProficiencyReps) reps with a @Html.DisplayFor(modelItem => item.Exercise.ProficiencySecs) sec hold</span>
                    }
                    else if (item.Exercise.ProficiencySets.HasValue && item.Exercise.ProficiencyReps.HasValue)
                    {
                        <span>@Html.DisplayFor(modelItem => item.Exercise.ProficiencySets) set(s) of @Html.DisplayFor(modelItem => item.Exercise.ProficiencyReps) reps</span>
                    }
                    else if (item.Exercise.ProficiencySets.HasValue && item.Exercise.ProficiencySecs.HasValue)
                    {
                        <span>@Html.DisplayFor(modelItem => item.Exercise.ProficiencySets) set(s) of @Html.DisplayFor(modelItem => item.Exercise.ProficiencySecs) sec holds</span>
                    }
                </small>
            </li>
        </ul>

        <div style="height:200px;background-size:contain;background-repeat:no-repeat;background-image:url('@Url.AbsoluteContent($"~/images/{item.Exercise.Code}.webp")'),url('@Url.AbsoluteContent($"~/images/{item.Exercise.Code}.jpg")');"></div>
    </div>
}
 </div>
