@model ViewModels.Newsletter.NewsletterViewModel
@using Models.Exercise
@using Models.Newsletter
@using Extensions
@using Controllers

@{
    ViewData["Title"] = "Newsletter";
    Layout = "_Blank";
}

<div style="margin-block:1rem;">
    <h6 style="margin-block:0;"><i>@DateTime.Today.ToLongDateString()</i></h6>
    <h1 style="margin-block:0;"><span style="font-size:.95em;">The Daily Fettling</span></h1>
    <h4 style="margin-block:0;display:inline-block;">@Html.DisplayFor(m => Model.ExerciseType)</h4>
    @if (Model.MuscleGroups != null)
    {
        <span> - </span>
        @if (Model.Verbosity.HasFlag(Verbosity.Diagnostic))
        {
            <span>@Model.MuscleGroups.GetDisplayName32(EnumExtensions.DisplayNameType.ShortName)</span>
        }
        else if (Model.Verbosity.HasFlag(Verbosity.Detailed))
        {
            <span>@Model.MuscleGroups.GetDisplayName32(EnumExtensions.DisplayNameType.GroupName)</span>
        } 
        else 
        {
            <span>@Model.MuscleGroups.GetSingleDisplayName()</span>
        }
    }
</div>

@if (Model.ExerciseType.HasAnyFlag32(ExerciseType.Flexibility | ExerciseType.Stability))
{
    <div style="background-color:lightyellow;padding:1rem;margin-block:1rem;">
        <span>Consider a full-body Yoga, Pilates or Tai-Chi workout as an alternative for today.</span>
    </div>
} 
else if (Model.Newsletter?.IsDeloadWeek == true)
{
    <div style="background-color:lightyellow;padding:1rem;margin-block:1rem;">
        <span>It's time to deload for a week. Scale down the intensity of your workout by ~50%. Take this time to rest and recover. You've earned it!</span>
    </div>
}

<div style="margin-block:1rem;">
    @if (Model.WarmupExercises != null && Model.WarmupExercises.Any())
    {
        <h2 style="margin-bottom:0;color:palevioletred">Warmup</h2>
        <div style="display:flex;flex-flow:row wrap;gap:1ch;">
            @foreach (var item in Model.WarmupExercises)
            {
                @await Component.InvokeAsync("Exercise", new { Model.User, ViewModel = item })
            }
        </div>
    }

    <h2 style="margin-bottom:0;color:palegreen;">Workout</h2>
    <div style="display:flex;flex-flow:row wrap;gap:1ch;">
        @foreach (var item in Model.Exercises)
        {
            @await Component.InvokeAsync("Exercise", new { Model.User, ViewModel = item })
        }
    </div>

    @if (Model.CooldownExercises != null && Model.CooldownExercises.Any())
    {
        <h2 style="margin-bottom:0;color:lightskyblue">Cooldown</h2>
        <div style="display:flex;flex-flow:row wrap;gap:1ch;">
            @foreach (var item in Model.CooldownExercises)
            {
                @await Component.InvokeAsync("Exercise", new { Model.User, ViewModel = item })
            }
        </div>
    }
</div>

<div style="background-color:lightyellow;padding:1rem;margin-block:1rem;">
    @await Component.InvokeAsync("Footnote", new { Count = Model.FootnoteCount })
</div>

@if (Model.Demo == false)
{
    @if (Model.User != null)
    {
        <a href="@Url.ActionLink(nameof(UserController.INeedRest), UserController.Name, new { Model.User.Email })">Skip next workout</a>

        <hr style="margin-block:1ex;">
        <a href="@Url.ActionLink(nameof(UserController.Edit), UserController.Name, new { Model.User.Email })">Manage preferences</a>

        <hr style="margin-block:1ex;">
        <a href="@Url.ActionLink(nameof(UserController.Delete), UserController.Name, new { Model.User.Email })">Unsubscribe</a>
    }

    <hr style="margin-block:1ex;">
    <a href="@Url.PageLink("/ImageAttribution")">Image attribution</a>

    <hr style="margin-block:1ex;">
    <span>
        <a href="@Url.PageLink("/Terms")">Terms of Use</a> | <a href="@Url.PageLink("/Privacy")">Privacy</a>
    </span>

    <hr style="margin-block:1ex;">
    <span>Questions? Comments? Issues? Contact us at <a href="mailto:help@finerfettle.com">help@finerfettle.com</a></span>
} 
else 
{
    <script>
        // Navigated back to the newsletter from the 'Too easy?'/'Too hard?' links. Refresh the demo content.
        if (!!window.performance && window.performance.navigation.type === 2) {
            // Refreshing the parent so the loading icon shows up
            window.parent.location.reload();
        }
    </script>
}