@using FinerFettle.Web.Models.Workout
@model IEnumerable<Exercise>

@{
    ViewData["Title"] = "Newsletter";
}

<h1>Newsletter</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="~/img/@(item.Code).webp" width="200" height="200">
            </td>
            <td>
                @Html.Raw(item.Description)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
