@model ViewModels.Newsletter.NewsletterViewModel
@using Models.Exercise
@using Models.Newsletter
@using Extensions
@using Controllers
@using ViewModels.Newsletter

@{
    ViewData["Title"] = "Newsletter";
    Layout = "_Blank";
}

<partial name="Newsletter/_Preview" model='$"{Model.ExerciseType.GetSingleDisplayName()} - {Model.MuscleGroups.GetSingleDisplayName()}"' />

<div style="margin-block:1rem;">
    <h6 style="margin-block:0;"><i>@DateTime.Today.ToLongDateString()</i></h6>
    <h1 style="margin-block:0;"><span style="font-size:.95em;">The Daily Fettling</span></h1>
    <h4 style="margin-block:0;display:inline-block;">@Html.DisplayFor(m => Model.ExerciseType)</h4>
    <span> - </span>
    @if (Model.Verbosity.HasFlag(Verbosity.Diagnostic))
    {
        <span>@Model.MuscleGroups.GetDisplayName32(EnumExtensions.DisplayNameType.ShortName)</span>
    }
    else if (Model.Verbosity.HasFlag(Verbosity.Detailed))
    {
        <span>@Model.MuscleGroups.GetDisplayName32(EnumExtensions.DisplayNameType.GroupName)</span>
    } 
    else 
    {
        <span>@Model.MuscleGroups.GetSingleDisplayName()</span>
    }
</div>

<div style="margin-block:1rem;">
    @if (Model.RecoveryExercises != null && Model.RecoveryExercises.Any())
    {
        <h2 style="margin-bottom:.1em;">Recovery - @Model.User!.RecoveryMuscle.GetSingleDisplayName()</h2>
        <div style="display:flex;flex-flow:row wrap;gap:1ch;">
            @foreach (var item in Model.RecoveryExercises)
            {
                @await Component.InvokeAsync("Exercise", new { Model.User, ViewModel = item })
            }
        </div>
    }

    @if (Model.WarmupExercises != null && Model.WarmupExercises.Any())
    {
        if (Model.ExerciseType.HasAnyFlag32(ExerciseType.Cardio))
        {
            <div style="background-color:floralwhite;padding:1rem;margin-top:1.5rem;margin-bottom:-.5rem;">
                <span>Consider a full-body Barre workout as an alternative to today's warmup.</span>
            </div>
        }
        <h2 style="margin-bottom:.1em;color:palevioletred">Warmup</h2>
        <div style="display:flex;flex-flow:row wrap;gap:1ch;">
            @foreach (var item in Model.WarmupExercises)
            {
                @await Component.InvokeAsync("Exercise", new { Model.User, ViewModel = item })
            }
        </div>
    }

    @if (Model.Newsletter?.IsDeloadWeek == true)
    {
        <div style="background-color:lightyellow;padding:1rem;margin-top:1.5rem;margin-bottom:-.5rem;">
            <span>It's time to deload for a week. Scale down the intensity of your workout by ~50%. Take this time to rest and recover. You've earned it!</span>
        </div>
    }
    <h2 style="margin-bottom:.1em;color:palegreen;">Workout</h2>
    <div style="display:flex;flex-flow:row wrap;gap:1ch;">
        @foreach (var item in Model.Exercises)
        {
            @await Component.InvokeAsync("Exercise", new { Model.User, ViewModel = item })
        }
    </div>

    @if (Model.SportsExercises != null && Model.SportsExercises.Any())
    {
        <h2 style="margin-bottom:.1em;color:palegreen">Sport - @Model.User!.SportsFocus.GetSingleDisplayName()</h2>
        <div style="display:flex;flex-flow:row wrap;gap:1ch;">
            @foreach (var item in Model.SportsExercises)
            {
                @await Component.InvokeAsync("Exercise", new { Model.User, ViewModel = item })
            }
        </div>
    }

    @if (Model.CooldownExercises != null && Model.CooldownExercises.Any())
    {
        if (Model.ExerciseType.HasAnyFlag32(ExerciseType.Stability))
        {
            <div style="background-color:floralwhite;padding:1rem;margin-top:1.5rem;margin-bottom:-.5rem;">
                <span>Consider a full-body Yoga, Pilates or Tai-Chi workout as an alternative to today's cooldown.</span>
            </div>
        }
        <h2 style="margin-bottom:.1em;color:lightskyblue">Cooldown</h2>
        <div style="display:flex;flex-flow:row wrap;gap:1ch;">
            @foreach (var item in Model.CooldownExercises)
            {
                @await Component.InvokeAsync("Exercise", new { Model.User, ViewModel = item })
            }
        </div>
    }
</div>

<div style="background-color:lavender;padding:1rem;margin-block:1rem;">
    @await Component.InvokeAsync("Footnote", new { Count = Model.FootnoteCount })
</div>

@if (Model.Demo == false)
{
    @if (Model.User != null)
    {
        <hr style="margin-block:1ex;">
        <a href="@Url.ActionLink(nameof(UserController.Edit), UserController.Name, new { Model.User.Email })">Manage Preferences</a>
        <div><small><b>Rest Days</b> - @Model.User.RestDays.GetSingleDisplayName()</small></div>
        <div><small><b>Strengthening Preference</b> - @Model.User.StrengtheningPreference</small></div>
        <div><small><b>Prefers Weights</b> - @Model.User.PrefersWeights</small></div>
        <div><small><b>Sports Focus</b> - @Model.User.SportsFocus.GetSingleDisplayName()</small></div>
        <div><small><b>Recovery Muscle</b> - @Model.User.RecoveryMuscle.GetSingleDisplayName()</small></div>
        <div><small><b>Equipment</b> - @Html.DisplayFor(_ => Model.AllEquipment)</small></div>
        <div><small><b>Ignored Exercises</b> - @String.Join(", ", Model.User.UserExercises.Where(ep => ep.Ignore).Select(ep => ep.Exercise.Name))</small></div>

        <hr style="margin-block:1ex;">
        <a href="@Url.ActionLink(nameof(UserController.Delete), UserController.Name, new { Model.User.Email })">Unsubscribe</a>
    }

    <hr style="margin-block:1ex;">
    <a href="@Url.PageLink("/ImageAttribution")">Image Attribution</a>

    <hr style="margin-block:1ex;">
    <span>
        <a href="@Url.PageLink("/Terms")">Terms of Use</a> | <a href="@Url.PageLink("/Privacy")">Privacy</a>
    </span>

    <hr style="margin-block:1ex;">
    <span>Questions? Comments? Issues? Contact us at <a href="mailto:help@finerfettle.com">help@finerfettle.com</a></span>
} 
else 
{
    <script>
        // Navigated back to the newsletter from the 'Too easy?'/'Too hard?' links. Refresh the demo content.
        if (!!window.performance && window.performance.navigation.type === 2) {
            // Refreshing the parent so the loading icon shows up
            window.parent.location.reload();
        }
    </script>
}