@model ViewModels.Exercise.CheckViewModel
@using Models.Exercise
@using Models.Newsletter
@using Extensions
@using Controllers

@{
    ViewData["Title"] = "Exercises";
    Layout = "_Blank";
}

<div>
    <dl>
        <dt>Missing 100% progression range:</dt>
        <dd>
            @(String.Join(", ", Model.Missing100PProgressionRange))
        </dd>

        <dt>Missing Rep Range:</dt>
        <dd>
            @(String.Join(", ", Model.MissingRepRange))
        </dd>

        <dt>Empty Disabled Reason:</dt>
        <dd>
            @(String.Join(", ", Model.EmptyDisabledString))
        </dd>

        <dt>Missing Exercises:</dt>
        <dd>
            @(String.Join(", ", Model.MissingExercises))
        </dd>

        <dt>Missing Proficiency:</dt>
        <dd>
            <b>Strength</b> - 
            @(String.Join(", ", Model.MissingProficiencyStrength))
        </dd>
        <dd>
            <b>Recovery</b> -
            @(String.Join(", ", Model.MissingProficiencyRecovery))
        </dd>
        <dd>
            <b>WarmupCooldown</b> -
            @(String.Join(", ", Model.MissingProficiencyWarmupCooldown))
        </dd>
    </dl>
</div>
