@model AdvancedViewModel
@using Core.Models.Exercise
@using Data.Entities.User

<details class="mb-25">
    <summary class="mb-1 h5">@(Model.IsNotDefault ? "*" : "")Advanced Preferences</summary>

    <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.EditAdvanced)" method="post"
          asp-route-email="@Model.Email" asp-route-token="@Model.Token"
         class="alert alert-secondary">

        <div class="mb-3">
            <div class="form-group mb-3">
                <label asp-for="FootnoteCountTop" class="control-label">@Html.DisplayNameFor(_ => Model.FootnoteCountTop)</label>
                <div style="display:flex;column-gap:1ex;">
                    <output name="OutputFootnoteCountTop" for="@Html.IdFor(_ => Model.FootnoteCountTop)">@Model.FootnoteCountTop</output>
                    <div style="display:flex;width:100%;">
                        <input asp-for="FootnoteCountTop" type="range" style="width:100%;" aria-describedby="refresh-functional-help"
                               step="1" min="@Data.Entities.User.User.Consts.FootnoteCountMin" max="@Data.Entities.User.User.Consts.FootnoteCountMax"
                               oninput="OutputFootnoteCountTop.value = this.valueAsNumber" list="ListFootnoteCountTop" />
                        <datalist id="ListFootnoteCountTop">
                            <option value="@Data.Entities.User.User.Consts.FootnoteCountTopDefault"></option>
                        </datalist>
                    </div>
                </div>
                <span asp-validation-for="AtLeastXUniqueMusclesPerExercise_Flexibility" class="text-danger"></span>
                <div id="refresh-functional-help" class="form-text">
                    Footnote types that are shown above each workout: @FootnoteType.Custom.GetDisplayName32().
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-group mb-3">
                <label asp-for="FootnoteCountBottom" class="control-label">@Html.DisplayNameFor(_ => Model.FootnoteCountBottom)</label>
                <div style="display:flex;column-gap:1ex;">
                    <output name="OutputFootnoteCountBottom" for="@Html.IdFor(_ => Model.FootnoteCountBottom)">@Model.FootnoteCountBottom</output>
                    <div style="display:flex;width:100%;">
                        <input asp-for="FootnoteCountBottom" type="range" style="width:100%;" aria-describedby="refresh-functional-help"
                               step="1" min="@Data.Entities.User.User.Consts.FootnoteCountMin" max="@Data.Entities.User.User.Consts.FootnoteCountMax"
                               oninput="OutputFootnoteCountBottom.value = this.valueAsNumber" list="ListFootnoteCountBottom" />
                        <datalist id="ListFootnoteCountBottom">
                            <option value="@Data.Entities.User.User.Consts.FootnoteCountBottomDefault"></option>
                        </datalist>
                    </div>
                </div>
                <span asp-validation-for="AtLeastXUniqueMusclesPerExercise_Flexibility" class="text-danger"></span>
                <div id="refresh-functional-help" class="form-text">
                    Footnote types that are shown below each workout: @FootnoteType.System.GetDisplayName32().
                </div>
            </div>
        </div>

        @if (Model.IsNewToFitness)
        {
            <input type="hidden" asp-for="WeightSecondaryMusclesXTimesLess" />
            <input type="hidden" asp-for="WeightIsolationXTimesMore" />
            <input type="hidden" asp-for="AtLeastXUniqueMusclesPerExercise_Accessory" />
            <input type="hidden" asp-for="AtLeastXUniqueMusclesPerExercise_Mobility" />
            <input type="hidden" asp-for="AtLeastXUniqueMusclesPerExercise_Flexibility" />
            <input type="hidden" asp-for="IgnorePrerequisites" />
        }
        else
        {
            <div class="mb-3">
                <div class="form-group mb-3">
                    <label asp-for="WeightSecondaryMusclesXTimesLess" class="control-label">@Html.DisplayNameFor(_ => Model.WeightSecondaryMusclesXTimesLess)</label>
                    <div style="display:flex;column-gap:1ex;">
                        <output id="OutputWeightSecondaryMusclesXTimesLess" name="OutputWeightSecondaryMusclesXTimesLess" for="@Html.IdFor(_ => Model.WeightSecondaryMusclesXTimesLess)">@Model.WeightSecondaryMusclesXTimesLess</output>
                        <div style="display:flex;width:100%;">
                            <input asp-for="WeightSecondaryMusclesXTimesLess" type="range" style="width:100%;" aria-describedby="refresh-functional-help"
                                   step=".25" min="@Data.Entities.User.User.Consts.WeightSecondaryMusclesXTimesLessMin" max="@Data.Entities.User.User.Consts.WeightSecondaryMusclesXTimesLessMax"
                                   oninput="OutputWeightSecondaryMusclesXTimesLess.value = this.valueAsNumber.toFixed(2)" list="ListWeightSecondaryMusclesXTimesLess" />
                            <datalist id="ListWeightSecondaryMusclesXTimesLess">
                                <option value="@Data.Entities.User.User.Consts.WeightSecondaryMusclesXTimesLessDefault"></option>
                            </datalist>
                        </div>
                    </div>
                    <span asp-validation-for="WeightSecondaryMusclesXTimesLess" class="text-danger"></span>
                    <div id="refresh-functional-help" class="form-text">
                        @Html.DisplayDescriptionFor(_ => Model.WeightSecondaryMusclesXTimesLess)
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group mb-3">
                    <label asp-for="WeightIsolationXTimesMore" class="control-label">@Html.DisplayNameFor(_ => Model.WeightIsolationXTimesMore)</label>
                    <div style="display:flex;column-gap:1ex;">
                        <output id="OutputWeightIsolationXTimesMore" name="OutputWeightIsolationXTimesMore" for="@Html.IdFor(_ => Model.WeightIsolationXTimesMore)">@Model.WeightIsolationXTimesMore</output>
                        <div style="display:flex;width:100%;">
                            <input asp-for="WeightIsolationXTimesMore" type="range" style="width:100%;" aria-describedby="refresh-functional-help"
                                   step=".25" min="@Data.Entities.User.User.Consts.WeightIsolationXTimesMoreMin" max="@Data.Entities.User.User.Consts.WeightIsolationXTimesMoreMax"
                                   oninput="OutputWeightIsolationXTimesMore.value = this.valueAsNumber.toFixed(2)" list="ListWeightIsolationXTimesMore" />
                            <datalist id="ListWeightIsolationXTimesMore">
                                <option value="@Data.Entities.User.User.Consts.WeightIsolationXTimesMoreDefault"></option>
                            </datalist>
                        </div>
                    </div>
                    <span asp-validation-for="WeightIsolationXTimesMore" class="text-danger"></span>
                    <div id="refresh-functional-help" class="form-text">
                        @Html.DisplayDescriptionFor(_ => Model.WeightIsolationXTimesMore)
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group mb-3">
                    <label asp-for="WeightCoreExercisesXTimesMore" class="control-label">@Html.DisplayNameFor(_ => Model.WeightCoreExercisesXTimesMore)</label>
                    <div style="display:flex;column-gap:1ex;">
                        <output id="OutputWeightCoreExercisesXTimesMore" name="OutputWeightCoreExercisesXTimesMore" for="@Html.IdFor(_ => Model.WeightCoreExercisesXTimesMore)">@Model.WeightCoreExercisesXTimesMore</output>
                        <div style="display:flex;width:100%;">
                            <input asp-for="WeightCoreExercisesXTimesMore" type="range" style="width:100%;" aria-describedby="refresh-functional-help"
                                   step=".25" min="@Data.Entities.User.User.Consts.WeightCoreExercisesXTimesMoreMin" max="@Data.Entities.User.User.Consts.WeightCoreExercisesXTimesMoreMax"
                                   oninput="OutputWeightCoreExercisesXTimesMore.value = this.valueAsNumber.toFixed(2)" list="ListWeightCoreExercisesXTimesMore" />
                            <datalist id="ListWeightCoreExercisesXTimesMore">
                                <option value="@Data.Entities.User.User.Consts.WeightCoreExercisesXTimesMoreDefault"></option>
                            </datalist>
                        </div>
                    </div>
                    <span asp-validation-for="WeightCoreExercisesXTimesMore" class="text-danger"></span>
                    <div id="refresh-functional-help" class="form-text">
                        @Html.DisplayDescriptionFor(_ => Model.WeightCoreExercisesXTimesMore)
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group mb-3">
                    <label asp-for="AtLeastXUniqueMusclesPerExercise_Mobility" class="control-label">@Html.DisplayNameFor(_ => Model.AtLeastXUniqueMusclesPerExercise_Mobility)</label>
                    <div style="display:flex;column-gap:1ex;">
                        <output name="OutputAtLeastXUniqueMusclesPerExercise_Mobility" for="@Html.IdFor(_ => Model.AtLeastXUniqueMusclesPerExercise_Mobility)">@Model.AtLeastXUniqueMusclesPerExercise_Mobility</output>
                        <div style="display:flex;width:100%;">
                            <input asp-for="AtLeastXUniqueMusclesPerExercise_Mobility" type="range" style="width:100%;" aria-describedby="refresh-functional-help"
                                   step="1" min="@Data.Entities.User.User.Consts.AtLeastXUniqueMusclesPerExercise_MobilityMin" max="@Data.Entities.User.User.Consts.AtLeastXUniqueMusclesPerExercise_MobilityMax"
                                   oninput="OutputAtLeastXUniqueMusclesPerExercise_Mobility.value = this.valueAsNumber" list="ListAtLeastXUniqueMusclesPerExercise_Mobility" />
                            <datalist id="ListAtLeastXUniqueMusclesPerExercise_Mobility">
                                <option value="@Data.Entities.User.User.Consts.AtLeastXUniqueMusclesPerExercise_MobilityDefault"></option>
                            </datalist>
                        </div>
                    </div>
                    <span asp-validation-for="AtLeastXUniqueMusclesPerExercise_Mobility" class="text-danger"></span>
                    <div id="refresh-functional-help" class="form-text">
                        @Html.DisplayDescriptionFor(_ => Model.AtLeastXUniqueMusclesPerExercise_Mobility)
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group mb-3">
                    <label asp-for="AtLeastXUniqueMusclesPerExercise_Accessory" class="control-label">@Html.DisplayNameFor(_ => Model.AtLeastXUniqueMusclesPerExercise_Accessory)</label>
                    <div style="display:flex;column-gap:1ex;">
                        <output name="OutputAtLeastXUniqueMusclesPerExercise_Accessory" for="@Html.IdFor(_ => Model.AtLeastXUniqueMusclesPerExercise_Accessory)">@Model.AtLeastXUniqueMusclesPerExercise_Accessory</output>
                        <div style="display:flex;width:100%;">
                            <input asp-for="AtLeastXUniqueMusclesPerExercise_Accessory" type="range" style="width:100%;" aria-describedby="refresh-functional-help"
                                   step="1" min="@Data.Entities.User.User.Consts.AtLeastXUniqueMusclesPerExercise_AccessoryMin" max="@Data.Entities.User.User.Consts.AtLeastXUniqueMusclesPerExercise_AccessoryMax"
                                   oninput="OutputAtLeastXUniqueMusclesPerExercise_Accessory.value = this.valueAsNumber" list="ListAtLeastXUniqueMusclesPerExercise_Accessory" />
                            <datalist id="ListAtLeastXUniqueMusclesPerExercise_Accessory">
                                <option value="@Data.Entities.User.User.Consts.AtLeastXUniqueMusclesPerExercise_AccessoryDefault"></option>
                            </datalist>
                        </div>
                    </div>
                    <span asp-validation-for="AtLeastXUniqueMusclesPerExercise_Accessory" class="text-danger"></span>
                    <div id="refresh-functional-help" class="form-text">
                        @Html.DisplayDescriptionFor(_ => Model.AtLeastXUniqueMusclesPerExercise_Accessory)
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group mb-3">
                    <label asp-for="AtLeastXUniqueMusclesPerExercise_Flexibility" class="control-label">@Html.DisplayNameFor(_ => Model.AtLeastXUniqueMusclesPerExercise_Flexibility)</label>
                    <div style="display:flex;column-gap:1ex;">
                        <output name="OutputAtLeastXUniqueMusclesPerExercise_Flexibility" for="@Html.IdFor(_ => Model.AtLeastXUniqueMusclesPerExercise_Flexibility)">@Model.AtLeastXUniqueMusclesPerExercise_Flexibility</output>
                        <div style="display:flex;width:100%;">
                            <input asp-for="AtLeastXUniqueMusclesPerExercise_Flexibility" type="range" style="width:100%;" aria-describedby="refresh-functional-help"
                                   step="1" min="@Data.Entities.User.User.Consts.AtLeastXUniqueMusclesPerExercise_FlexibilityMin" max="@Data.Entities.User.User.Consts.AtLeastXUniqueMusclesPerExercise_FlexibilityMax"
                                   oninput="OutputAtLeastXUniqueMusclesPerExercise_Flexibility.value = this.valueAsNumber" list="ListAtLeastXUniqueMusclesPerExercise_Flexibility" />
                            <datalist id="ListAtLeastXUniqueMusclesPerExercise_Flexibility">
                                <option value="@Data.Entities.User.User.Consts.AtLeastXUniqueMusclesPerExercise_FlexibilityDefault"></option>
                            </datalist>
                        </div>
                    </div>
                    <span asp-validation-for="AtLeastXUniqueMusclesPerExercise_Flexibility" class="text-danger"></span>
                    <div id="refresh-functional-help" class="form-text">
                        @Html.DisplayDescriptionFor(_ => Model.AtLeastXUniqueMusclesPerExercise_Flexibility)
                    </div>
                </div>
            </div>

            <div class="form-group form-check mb-3">
                <label asp-for="IgnorePrerequisites" class="control-label">@Html.DisplayNameFor(_ => Model.IgnorePrerequisites)</label>
                <input class="form-check-input" asp-for="IgnorePrerequisites" aria-describedby="ignore-prereq-help" />
                <span asp-validation-for="IgnorePrerequisites" class="text-danger"></span>
                <div id="ignore-prereq-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.IgnorePrerequisites)</div>
            </div>
        }
        
        <div class="row form-group">
            <div class="col">
                <input type="submit" value="Save" class="btn btn-secondary" />
            </div>
            <div class="col-auto align-self-end">
                <script src="https://liberapay.com/aworkoutaday/widgets/button.js"></script>
                <noscript>
                    <a href="https://liberapay.com/aworkoutaday/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a>
                </noscript>
            </div>
        </div>

        <script defer="defer">
            document.getElementById('OutputWeightIsolationXTimesMore').value = Number(document.getElementById('OutputWeightIsolationXTimesMore').value).toFixed(2);
            document.getElementById('OutputWeightSecondaryMusclesXTimesLess').value = Number(document.getElementById('OutputWeightSecondaryMusclesXTimesLess').value).toFixed(2);
        </script>
    </form>
</details>
