@model AdvancedViewModel
@using Core.Models.Exercise
@using Data.Entities.User
@using Core.Consts

<details class="mt-4 mb-25">
    <summary class="mb-1 h5">@(Model.IsNotDefault ? "*" : "")Advanced Preferences</summary>

    <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.EditAdvanced)" method="post"
          asp-route-email="@Model.Email" asp-route-token="@Model.Token"
         class="alert alert-secondary">

        <div class="mb-3">
            <div class="form-group mb-3">
                <label asp-for="FootnoteCountTop" class="control-label">@Html.DisplayNameFor(_ => Model.FootnoteCountTop)</label>
                <div style="display:flex;column-gap:1ex;">
                    <output name="OutputFootnoteCountTop" for="@Html.IdFor(_ => Model.FootnoteCountTop)">@Model.FootnoteCountTop</output>
                    <div style="display:flex;width:100%;">
                        <input asp-for="FootnoteCountTop" type="range" style="width:100%;" aria-describedby="user-footnote-help"
                               step="1" min="@UserConsts.FootnoteCountMin" max="@UserConsts.FootnoteCountMax"
                               oninput="OutputFootnoteCountTop.value = this.valueAsNumber" list="ListFootnoteCountTop" />
                        <datalist id="ListFootnoteCountTop">
                            <option value="@UserConsts.FootnoteCountTopDefault"></option>
                        </datalist>
                    </div>
                </div>
                <span asp-validation-for="FootnoteCountTop" class="text-danger"></span>
                <div id="user-footnote-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.FootnoteCountTop)</div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-group mb-3">
                <label asp-for="FootnoteCountBottom" class="control-label">@Html.DisplayNameFor(_ => Model.FootnoteCountBottom)</label>
                <div style="display:flex;column-gap:1ex;">
                    <output name="OutputFootnoteCountBottom" for="@Html.IdFor(_ => Model.FootnoteCountBottom)">@Model.FootnoteCountBottom</output>
                    <div style="display:flex;width:100%;">
                        <input asp-for="FootnoteCountBottom" type="range" style="width:100%;" aria-describedby="system-footnote-help"
                               step="1" min="@UserConsts.FootnoteCountMin" max="@UserConsts.FootnoteCountMax"
                               oninput="OutputFootnoteCountBottom.value = this.valueAsNumber" list="ListFootnoteCountBottom" />
                        <datalist id="ListFootnoteCountBottom">
                            <option value="@UserConsts.FootnoteCountBottomDefault"></option>
                        </datalist>
                    </div>
                </div>
                <span asp-validation-for="FootnoteCountBottom" class="text-danger"></span>
                <div id="system-footnote-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.FootnoteCountBottom)</div>
            </div>
        </div>

        @if (Model.IsNewToFitness)
        {
            <input type="hidden" asp-for="WeightSecondaryXTimesLess" />
            <input type="hidden" asp-for="WeightIsolationXTimesMore" />
            <input type="hidden" asp-for="AtLeastXUniqueMusclesPerExercise_Accessory" />
            <input type="hidden" asp-for="AtLeastXUniqueMusclesPerExercise_Mobility" />
            <input type="hidden" asp-for="AtLeastXUniqueMusclesPerExercise_Flexibility" />
            <input type="hidden" asp-for="IgnorePrerequisites" />
        }
        else
        {
            <div class="mb-3">
                <div class="form-group mb-3">
                    <label asp-for="WeightSecondaryXTimesLess" class="control-label">@Html.DisplayNameFor(_ => Model.WeightSecondaryXTimesLess)</label>
                    <div style="display:flex;column-gap:1ex;">
                        <output id="OutputWeightSecondaryXTimesLess" name="OutputWeightSecondaryXTimesLess" for="@Html.IdFor(_ => Model.WeightSecondaryXTimesLess)">@Model.WeightSecondaryXTimesLess.ToString("F2")</output>
                        <div style="display:flex;width:100%;">
                            <input asp-for="WeightSecondaryXTimesLess" type="range" style="width:100%;" aria-describedby="weight-secondary-help"
                                   step=".25" min="@UserConsts.WeightSecondaryXTimesLessMin" max="@UserConsts.WeightSecondaryXTimesLessMax"
                                   oninput="OutputWeightSecondaryXTimesLess.value = this.valueAsNumber.toFixed(2)" list="ListWeightSecondaryXTimesLess" />
                            <datalist id="ListWeightSecondaryXTimesLess">
                                <option value="@UserConsts.WeightSecondaryXTimesLessDefault"></option>
                            </datalist>
                        </div>
                    </div>
                    <span asp-validation-for="WeightSecondaryXTimesLess" class="text-danger"></span>
                    <div id="weight-secondary-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.WeightSecondaryXTimesLess)</div>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group mb-3">
                    <label asp-for="WeightIsolationXTimesMore" class="control-label">@Html.DisplayNameFor(_ => Model.WeightIsolationXTimesMore)</label>
                    <div style="display:flex;column-gap:1ex;">
                        <output id="OutputWeightIsolationXTimesMore" name="OutputWeightIsolationXTimesMore" for="@Html.IdFor(_ => Model.WeightIsolationXTimesMore)">@Model.WeightIsolationXTimesMore.ToString("F2")</output>
                        <div style="display:flex;width:100%;">
                            <input asp-for="WeightIsolationXTimesMore" type="range" style="width:100%;" aria-describedby="weight-isolation-help"
                                   step=".25" min="@UserConsts.WeightIsolationXTimesMoreMin" max="@UserConsts.WeightIsolationXTimesMoreMax"
                                   oninput="OutputWeightIsolationXTimesMore.value = this.valueAsNumber.toFixed(2)" list="ListWeightIsolationXTimesMore" />
                            <datalist id="ListWeightIsolationXTimesMore">
                                <option value="@UserConsts.WeightIsolationXTimesMoreDefault"></option>
                            </datalist>
                        </div>
                    </div>
                    <span asp-validation-for="WeightIsolationXTimesMore" class="text-danger"></span>
                    <div id="weight-isolation-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.WeightIsolationXTimesMore)</div>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group mb-3">
                    <label asp-for="AtLeastXUniqueMusclesPerExercise_Mobility" class="control-label">@Html.DisplayNameFor(_ => Model.AtLeastXUniqueMusclesPerExercise_Mobility)</label>
                    <div style="display:flex;column-gap:1ex;">
                        <output name="OutputAtLeastXUniqueMusclesPerExercise_Mobility" for="@Html.IdFor(_ => Model.AtLeastXUniqueMusclesPerExercise_Mobility)">@Model.AtLeastXUniqueMusclesPerExercise_Mobility</output>
                        <div style="display:flex;width:100%;">
                            <input asp-for="AtLeastXUniqueMusclesPerExercise_Mobility" type="range" style="width:100%;" aria-describedby="mobility-help"
                                   step="1" min="@UserConsts.AtLeastXUniqueMusclesPerExercise_MobilityMin" max="@UserConsts.AtLeastXUniqueMusclesPerExercise_MobilityMax"
                                   oninput="OutputAtLeastXUniqueMusclesPerExercise_Mobility.value = this.valueAsNumber" list="ListAtLeastXUniqueMusclesPerExercise_Mobility" />
                            <datalist id="ListAtLeastXUniqueMusclesPerExercise_Mobility">
                                <option value="@UserConsts.AtLeastXUniqueMusclesPerExercise_MobilityDefault"></option>
                            </datalist>
                        </div>
                    </div>
                    <span asp-validation-for="AtLeastXUniqueMusclesPerExercise_Mobility" class="text-danger"></span>
                    <div id="mobility-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.AtLeastXUniqueMusclesPerExercise_Mobility)</div>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group mb-3">
                    <label asp-for="AtLeastXUniqueMusclesPerExercise_Accessory" class="control-label">@Html.DisplayNameFor(_ => Model.AtLeastXUniqueMusclesPerExercise_Accessory)</label>
                    <div style="display:flex;column-gap:1ex;">
                        <output name="OutputAtLeastXUniqueMusclesPerExercise_Accessory" for="@Html.IdFor(_ => Model.AtLeastXUniqueMusclesPerExercise_Accessory)">@Model.AtLeastXUniqueMusclesPerExercise_Accessory</output>
                        <div style="display:flex;width:100%;">
                            <input asp-for="AtLeastXUniqueMusclesPerExercise_Accessory" type="range" style="width:100%;" aria-describedby="accessory-help"
                                   step="1" min="@UserConsts.AtLeastXUniqueMusclesPerExercise_AccessoryMin" max="@UserConsts.AtLeastXUniqueMusclesPerExercise_AccessoryMax"
                                   oninput="OutputAtLeastXUniqueMusclesPerExercise_Accessory.value = this.valueAsNumber" list="ListAtLeastXUniqueMusclesPerExercise_Accessory" />
                            <datalist id="ListAtLeastXUniqueMusclesPerExercise_Accessory">
                                <option value="@UserConsts.AtLeastXUniqueMusclesPerExercise_AccessoryDefault"></option>
                            </datalist>
                        </div>
                    </div>
                    <span asp-validation-for="AtLeastXUniqueMusclesPerExercise_Accessory" class="text-danger"></span>
                    <div id="accessory-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.AtLeastXUniqueMusclesPerExercise_Accessory)</div>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group mb-3">
                    <label asp-for="AtLeastXUniqueMusclesPerExercise_Flexibility" class="control-label">@Html.DisplayNameFor(_ => Model.AtLeastXUniqueMusclesPerExercise_Flexibility)</label>
                    <div style="display:flex;column-gap:1ex;">
                        <output name="OutputAtLeastXUniqueMusclesPerExercise_Flexibility" for="@Html.IdFor(_ => Model.AtLeastXUniqueMusclesPerExercise_Flexibility)">@Model.AtLeastXUniqueMusclesPerExercise_Flexibility</output>
                        <div style="display:flex;width:100%;">
                            <input asp-for="AtLeastXUniqueMusclesPerExercise_Flexibility" type="range" style="width:100%;" aria-describedby="flexibility-help"
                                   step="1" min="@UserConsts.AtLeastXUniqueMusclesPerExercise_FlexibilityMin" max="@UserConsts.AtLeastXUniqueMusclesPerExercise_FlexibilityMax"
                                   oninput="OutputAtLeastXUniqueMusclesPerExercise_Flexibility.value = this.valueAsNumber" list="ListAtLeastXUniqueMusclesPerExercise_Flexibility" />
                            <datalist id="ListAtLeastXUniqueMusclesPerExercise_Flexibility">
                                <option value="@UserConsts.AtLeastXUniqueMusclesPerExercise_FlexibilityDefault"></option>
                            </datalist>
                        </div>
                    </div>
                    <span asp-validation-for="AtLeastXUniqueMusclesPerExercise_Flexibility" class="text-danger"></span>
                    <div id="flexibility-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.AtLeastXUniqueMusclesPerExercise_Flexibility)</div>
                </div>
            </div>

            <div class="form-group form-check mb-3">
                <label asp-for="IgnorePrerequisites" class="control-label">@Html.DisplayNameFor(_ => Model.IgnorePrerequisites)</label>
                <input class="form-check-input" asp-for="IgnorePrerequisites" aria-describedby="ignore-prereq-help" />
                <span asp-validation-for="IgnorePrerequisites" class="text-danger"></span>
                <div id="ignore-prereq-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.IgnorePrerequisites)</div>
            </div>
        }
        
        <div class="row form-group">
            <div class="col">
                <input type="submit" value="Save" class="btn btn-secondary" />
            </div>
            <div class="col-auto align-self-end">
                <script src="https://liberapay.com/gscanlon21/widgets/button.js"></script>
                <noscript>
                    <a href="https://liberapay.com/gscanlon21/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a>
                </noscript>
            </div>
        </div>
    </form>
</details>
