@model PastWorkoutViewModel
@using Core.Models.Exercise
@using Lib.ViewModels.User
@using Lib.ViewModels.Newsletter
@using Core.Models.User

<details class="mb-25">
    <summary class="mb-1 h5">Past Workouts</summary>

    <div class="list-group mb-3">
        @foreach (var pastWorkout in Model.PastWorkouts)
        {
            <a href="@Url.ActionLink(nameof(NewsletterController.Newsletter), NewsletterController.Name, new { Model.User.Email, Model.Token, Date = pastWorkout.Date.ToString("O") })"
               class="list-group-item list-group-item-dark list-group-item-action allow-demo">
                <div class="row gx-3 gy-1">
                    <div class="col"><b class="">@(pastWorkout.Frequency == Frequency.OffDayStretches ? "Mobility" : (pastWorkout.Rotation.MuscleGroupsDisplayName ?? "Rest"))</b></div>
                    <div class="col-auto"><small class="badge bg-dark rounded-pill">@pastWorkout.Date.ToShortDateString()</small></div>
                </div>
                <div class="">
                    @if (pastWorkout.Frequency == Frequency.OffDayStretches)
                    {
                        <small>@pastWorkout.Rotation.MuscleGroupsDisplayName</small>
                    }
                    else
                    {
                        <small>@pastWorkout.Rotation.MovementPatterns.GetDisplayName32(EnumExtensions.DisplayNameType.ShortName)</small>
                    }
                </div>
            </a>
        }
    </div>
</details>
