@using Extensions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @if (ViewData["Title"] == null) 
    {
        <title>Finer Fettle</title>
    }
    else 
    {
        <title>@ViewData["Title"] - Finer Fettle</title>
    }

    @if (ViewData["Description"] != null) 
    {
        <meta name="description" content="@ViewData["Description"]" />
    }
    else 
    {
        <meta name="robots" content="noindex">
    }

    <link rel="icon" type="image/svg+xml" href="@Url.AbsoluteContent("/favicon.svg")">
    <link rel="icon" type="image/png" href="@Url.AbsoluteContent("/favicon.png")">

    @await RenderSectionAsync("Styles", required: false)

    @* Bing Webmaster Tools verification *@
    <meta name="msvalidate.01" content="4ED7A51AF0AF656224509C05D2F71962" />
    @* Google Search Console verification *@
    <meta name="google-site-verification" content="NV5Jy8jQ0Pd1UhjtO8m5NrDlQeh57BbZJiFBMLrtZ88" />
</head>
<body>
    @RenderBody()
</body>
</html>