@page "/newsletter/footnote"
@inject NewsletterService NewsletterService
@inject DisplayHelper DH
@using Core.Models.Newsletter
@using Core.Dtos.Footnote
@using Core.Dtos.User

@functions {
    RenderFragment? Debug(FootnoteDto footnote)
    {
        return Verbosity.HasFlag(Verbosity.Debug)
            ? @<b>@footnote.Type.GetSingleDisplayName() - </b>
            : null;
    }
}

@if (Footnotes?.Any() == true)
{
    <div style="background-color:lavender;padding:1rem;@(HideFooter ? "margin-block-start:1rem" : "margin-block:1rem");">
        <ul style="padding-inline-start:2ch;margin-block:0;display:grid;gap:1ex;font-size:@FontHelpers.AdjustEm(1, User?.FontSizeAdjust);">
            @foreach (var note in Footnotes.OrderBy(f => f.Type).ThenBy(f => Verbosity == Verbosity.Debug ? f.Note : Guid.NewGuid().ToString()))
            {
                if (string.IsNullOrWhiteSpace(note.Source))
                {
                    <li>@Debug(note)@note.Note</li>
                }
                else
                {
                    var sourceIsLink = Uri.IsWellFormedUriString(note.Source, UriKind.Absolute);
                    if (sourceIsLink)
                    {
                        var sourceAsLink = new Uri(note.Source, UriKind.Absolute);
                        <li>@Debug(note)@note.Note <a target="_blank" href="@note.Source">[@sourceAsLink.Host.Replace("www.", string.Empty)]</a></li>
                    }
                    else
                    {
                        <li>@Debug(note)@note.Note — @note.Source</li>
                    }
                }
            }
        </ul>
    </div>
}

@code {
    [Parameter]
    public bool HideFooter { get; set; } = false;

    [Parameter]
    public UserNewsletterDto? User { get; set; }

    [Parameter, EditorRequired]
    public FootnoteComponentType Type { get; set; } = FootnoteComponentType.System;

    [Parameter]
    public int Count { get; set; } = 2;

    [Parameter, EditorRequired]
    public Verbosity Verbosity { get; set; }

    private IList<FootnoteDto>? Footnotes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        switch (Type)
        {
            case FootnoteComponentType.System:
                var footnotes = await NewsletterService.GetFootnotes(User, Count);
                Footnotes = footnotes.Value;
                break;
            case FootnoteComponentType.User when User != null:
                var userFootnotes = await NewsletterService.GetUserFootnotes(User, Count);
                Footnotes = userFootnotes.Value;
                break;
        }

        await base.OnInitializedAsync();
    }

    public enum FootnoteComponentType
    {
        System = 0,
        User = 1,
    }
}