@model Intensity
@using Models.Exercise

@if (Model.Proficiency.Reps.HasValue)
{
    <span>@Html.DisplayFor(modelItem => Model.Proficiency.Sets) set(s) of @Html.DisplayFor(modelItem => Model.Proficiency.Reps) reps total</span>
}
else if (Model.Proficiency.Secs.HasValue)
{
    <span>@Html.DisplayFor(modelItem => Model.Proficiency.Sets) set(s) of @Html.DisplayFor(modelItem => Model.Proficiency.Secs) second holds</span>
}

@if (Model.Proficiency.Secs != null && Model.Proficiency.Reps != null) {
    <br />
    <small>For a harder workout, add a @Html.DisplayFor(modelItem => Model.Proficiency.Secs) second hold to the peak of each repetition</small>
}