@model IList<ProficiencyViewModel>
@using ViewModels.Newsletter
@using Models.Exercise
@using Extensions
@using Controllers

@{
    bool deloadWeek = (bool)(ViewData[NewsletterController.ViewData_Deload] ?? false);
}

@functions {
    string Secs(Entities.Exercise.Proficiency proficiency)
    {
        return $"{proficiency.Secs}s";
    }
    
    string Sets(Entities.Exercise.Proficiency proficiency)
    {
        return $"{proficiency.Sets} {(proficiency.Sets == 1 ? "set" : "sets")}";
    }

    string Reps(Entities.Exercise.Proficiency proficiency)
    {
        return proficiency.MinReps == proficiency.MaxReps
            ? $"{proficiency.MinReps} reps"
            : $"{proficiency.MinReps}-{proficiency.MaxReps} reps";
    }
}

@foreach (var proficiency in Model)
{
    <div>
        <h5 style="margin-block-end:0;margin-block-start:.3rem;">
            @if (proficiency.ShowName)
            {
                @:<span style="text-decoration:underline;">@proficiency.Intensity.IntensityLevel.GetSingleDisplayName()</span>:
            }
            @if (proficiency.Intensity.Proficiency.MinReps.HasValue || proficiency.Intensity.Proficiency.MaxReps.HasValue)
            {
                <span>@Sets(proficiency.Intensity.Proficiency) of @Reps(proficiency.Intensity.Proficiency) @(proficiency.Intensity.Variation.Unilateral ? "(each side)" : "")</span>
            }
            else if (proficiency.Intensity.Proficiency.Secs.HasValue && proficiency.Intensity.Variation.MuscleContractions.HasAnyFlag32(MuscleContractions.Dynamic))
            {
                <span>@Sets(proficiency.Intensity.Proficiency) of @Secs(proficiency.Intensity.Proficiency)</span>
            } 
            else 
            {
                <span>@Sets(proficiency.Intensity.Proficiency) of @Secs(proficiency.Intensity.Proficiency) holds</span>
            }
        </h5>

        @if (proficiency.FirstTimeViewing) 
        {
            <h6 style="margin-block:0;font-weight:normal;">First time? Take it easy working the new movement and focus on your form.</h6>
        }
        else
        {
            if (proficiency.Intensity.Proficiency.Secs != null 
                && (proficiency.Intensity.Proficiency.MinReps != null || proficiency.Intensity.Proficiency.MaxReps != null))
            {
                if (proficiency.Intensity.Variation.MuscleContractions.HasFlag(MuscleContractions.Static))
                {
                    <h6 style="margin-block:0;font-weight:normal;">Hold the peak of each repetition for @Secs(proficiency.Intensity.Proficiency).</h6>
                }
                else if (!deloadWeek)
                {
                    <h6 style="margin-block:0;font-weight:normal;"><i>For a harder workout, hold the peak of each repetition for @Secs(proficiency.Intensity.Proficiency).</i></h6>
                }
            }

            if (!deloadWeek 
                && proficiency.Intensity.Variation.AntiGravity
                && proficiency.Intensity.Variation.MuscleMovement.HasFlag(MuscleMovement.Isotonic)
                && (proficiency.Intensity.Proficiency.MinReps != null || proficiency.Intensity.Proficiency.MaxReps != null))
            {
                <h6 style="margin-block:0;font-weight:normal;"><i>For a harder workout, prolong the eccentric "lowering" phase of each repetition.</i></h6>
            }
        }
    </div>
}